<div class="relative">
  <div class="{% if paragraph.fields.field_hero_form %} max-w-[1336px] mx-auto {% endif %}grid bg-zinc-50 grid-cols-1 md:grid-cols-2 min-h-[800px]">
    <!-- Left content column with padding -->
    <div class="container mx-auto px-4 md:pl-16 md:pr-8 py-8 md:py-24 order-2 md:order-1 flex{% if not paragraph.fields.field_hero_form %} items-center{% endif %}">
        <!-- Pre-heading -->
        <div>
            <p class="block text-sm font-semibold leading-4 pl-4 uppercase border-l-4 border-solid border-l-[#E00083] mb-4">
              {{ paragraph.fields.field_hero_label[0].value }}
            </p>
            <h1 class="mt-4 block font-semibold text-[46px] leading-[3rem] lg:text-5xl">
              {{ paragraph.fields.field_hero_title[0].value }}
            </h1>
            
            <div class="mt-4 md:mt-6 font-light leading-5 lg:leading-6 text-lg lg:text-xl hero-desc-paragraph">
                {{ paragraph.fields.field_hero[0].value|raw }}
            </div>
            
            <!-- CTA buttons -->
            <div class="mt-8 flex flex-col md:flex-row gap-2 md:gap-4">
              {# Button 1 #}
              {% if paragraph.fields.field_button_1_link[0].uri %}
                <a href="{{ paragraph.fields.field_button_1_link[0].uri|replace({'internal:': ''}) }}" 
                   class="w-full md:w-auto inline-flex justify-center items-center px-6 py-4 bg-gray-900 text-white font-medium rounded-full hover:bg-[#e00083] focus:border-2 border-2 border-transparent border-solid focus:border-solid focus:border-[rgb(165,165,165)]"
                   {% if paragraph.fields.field_button_1_open[0].value == '1' %} target="_blank" rel="noopener" {% endif %}>
                  {{ paragraph.fields.field_button_1_label[0].value }}
                </a>
              {% endif %}

              {# Button 2 #}
            {% if paragraph.fields.field_button_2_link[0].uri %}
              <a href="{{ paragraph.fields.field_button_2_link[0].uri|replace({'internal:': ''}) }}" 
                class="w-full md:w-auto inline-flex justify-center items-center px-6 py-4 bg-transparent text-black font-medium rounded-full hover:bg-[#e00083] hover:text-white  focus:border-2 border-2 border-[#e00083] border-solid focus:border-solid focus:border-[rgb(165,165,165)]"
                {% if paragraph.fields.field_button_2_open[0].value == '1' %} target="_blank" rel="noopener" {% endif %}>
                {{ paragraph.fields.field_button_2_label[0].value }}
              </a>
            {% endif %}

            </div>
        </div>
    </div>

    <!-- Right column with form -->
    {% if paragraph.fields.field_hero_form %}
    <div class="order-3 md:order-2 m-4">
      	<div class="coh-style-form site-studio-webform-element site-studio-webform-node-element" style="padding: 0">
          <div id="contact-us" class="p-8 md:m-8" style="box-shadow: 0 0.25rem 1.5625rem rgba(0,0,0,0.1)">
          {{paragraph.fields.field_hero_form}}
          </div>
        </div>
    </div>
    {% else %}
    <!-- Right column with image -->
    <div style="background-image: url({{ paragraph.fields.hero_image_url }})" class="bg-gray-200 bg-cover bg-center min-h-[300px] md:min-h-[600px] order-1 md:order-2"></div>
    {% endif %}
  </div>
</div>