{% for paragraph in paragraphs %}
 {% if paragraph.type == 'event_info' %}
     <div>

     </div>
     <div class="main-wrapper px-8 max-w-[1280px] flex lg:py-20 flex-col lg:mx-auto leading-[28px] font-light text-[20px] md:gap-14 lg:gap-20 md:flex-row">
         <div class="md:w-[50%]">
             <div class="max-w-[500px]">
                 <div class="text-[48px] leading-[60px] font-semibold lg:mb-8">
                     {{ "About the event"|t }}</div>
                 <div>{{ paragraph.fields.field_event_info[0]['value'] }}</div>
             </div>
         </div>
         <div class="md:w-[50%] flex flex-wrap">
             <div>
                 <div class="text-[48px] leading-[60px] font-semibold lg:mb-8 invisible">Lorem ipsum</div>
                 <div class="flex flex-col items-start mb-4">
                     <div class="lg:hidden font-semibold text-[20px] leading-[28px]">{{ "All you need to know:" }}</div>
                 </div>
             </div>
             <div class="flex items-start mb-4">
                 <img class="p-2 bg-[#E0E6FD] rounded-[24px] mr-4" src="/resources/icons/events/checkmark.svg">
                 <span>{{ paragraph.fields.field_when[0]['value'] }}</span>
             </div>
             <div class="flex items-start mb-4">
                 <img class="p-2 bg-[#E0E6FD] rounded-[24px] mr-4" src="/resources/icons/events/checkmark.svg">
                 <span>{{ paragraph.fields.field_where[0]['value'] }}</span>
             </div>
             <div class="flex items-start mb-4">
                 <img class="p-2 bg-[#E0E6FD] rounded-[24px] mr-4" src="/resources/icons/events/checkmark.svg">
                 <span>{{ paragraph.fields.field_for_who[0]['value'] }}</span>
             </div>
             <div class="flex items-start mb-4">
                 <img class="p-2 bg-[#E0E6FD] rounded-[24px] mr-4" src="/resources/icons/events/checkmark.svg">
                 <span>{{ paragraph.fields.field_what_to_expect[0]['value'] }}</span>
             </div>
         </div>

     </div>
 {% endif %}
{% endfor %}

<style>
    @media screen and (min-width: 769px) {
      .main-wrapper {
        flex-direction: row !important;
      }
    }
</style>
