{% set data = elements.content[0]['#data'] %}
{% if data['#current_language_prefix'] == '' %}
  {% set data = data|merge({'#current_language_prefix': 'en'}) %}
{% endif %}

<div id="page-loader"
     role="status"
     aria-live="polite"
     aria-label="Loading page"
     style="inset: 0; display: flex; align-items: center; justify-content: center; height: 100%; z-index: 99999999; position: fixed; background: white;">
  <img src="/resources/icons/loader.svg"
       alt=""
       aria-hidden="true"
       style="max-width: 80px; max-height: 80px; text-align: center;">
  <span class="sr-only" style="position: absolute; width: 1px; height: 1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0;">
    Loading page
  </span>
</div>
<div class="megamenu-complex-container">
  <header class='megamenu-header'>
    <div class="inside-header-container">
      {% if data['#current_language_prefix'] == '' or data['#current_language_prefix'] == 'en' %}
      <a class="megamenu-link go-home" href="/">
        {% elseif data['#current_language_prefix'] == 'it' %}
        <a class="megamenu-link go-home" href="/it">
          {% elseif data['#current_language_prefix'] == 'fr' %}
          <a class="megamenu-link go-home" href="/fr">
            {% elseif data['#current_language_prefix'] == 'de' %}
            <a class="megamenu-link go-home" href="/de">
              {% elseif data['#current_language_prefix'] == 'es' %}
              <a class="megamenu-link go-home" href="/es">
                {% endif %}
                <img width="122" height="27" id="planet-logo" src="/resources/logo/planet_logo.svg" alt="Planet Logo" class="planet-logo">
              </a>
              <div class="header-menus">
                <nav class="header-menu main-menu">
                  {% for item in data['megamenu'] %}
                    <span id="{{ item['id'] }}" class="business-li megamenu-link">
                 <a {% if item['_blank'] %}target="_blank" {% endif %}class="megamenu-link business-link" href="javascript:void(0);">{{ item['title']|t }}
                  <img id="{{ item['id'] }}_img" src="/resources/icons/arrow-down.svg" alt="Icon pointing down"/>
                 </a>
               </span>
                  {% endfor %}
                </nav>
                <nav class="header-menu secondary-planet-menu">
                  {% for item in data['megamenu_cta'] %}
                    <span class="{{ item['classes'] }}">
                      <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %} href="{% if item['url'][data['#current_language_prefix']] %}{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}{% else %}{{ item['url'] }}{% endif %}">{{ item['title']|t }}</a>
                    </span>
                  {% endfor %}
                </nav>
              </div>
    </div>
    <div class="inside-header-container--mobile-and-tablet">
      {% if data['#current_language_prefix'] == '' or data['#current_language_prefix'] == 'en' %}
      <a class="megamenu-link go-home" href="/">
        {% elseif data['#current_language_prefix'] == 'it' %}
        <a class="megamenu-link go-home" href="/it">
          {% elseif data['#current_language_prefix'] == 'fr' %}
          <a class="megamenu-link go-home" href="/fr">
            {% elseif data['#current_language_prefix'] == 'de' %}
            <a class="megamenu-link go-home" href="/de">
              {% elseif data['#current_language_prefix'] == 'es' %}
              <a class="megamenu-link go-home" href="/es">
                {% endif %}
                <img id="planet-logo--mobile-and-tablet" src="/resources/logo/planet_logo.svg" alt="Planet Logo" class="planet-logo">
              </a>
              <span class="go-back-span display-none--desktop display-none">
         <a class="megamenu-link go-back-to-first-level display-none--desktop" href="#">
         <img src="/resources/icons/arrow-left.svg" alt="Go back icon" class="arrow-left">
         </a>
         {{ "Back"|t }}
         </span>
              <img src="/resources/icons/hamburger-menu.svg" alt="Hamburger Menu" class="hamburger-menu">
              <img src="/resources/icons/closing-x.svg" alt="Close menu icon." class="close-hamburger-menu display-none rotate-right">
    </div>
  </header>
  <div class="megamenu-products__desktop display-none">
    <div class="megamenu-column megamenu-column--left">
      <span class="megamenu-column__title">{{ "Accept payments"|t }}</span>
      {% for item in data['megamenu']['0']['children']['accept_payments'] %}
        <div class="megamenu-column__item">
          <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
            <img class="megamenu-column__icon megamenu-column__icon__arrow" src="{{ item['icon_path'] }}"/>
            <span class="megamenu-column__mini-header">{{ item['title']|t }}</span>
            <span class="megamenu-column__mini-text">{{ item['description']|t }}</span>
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="megamenu-column megamenu-column--grey megamenu-column--center">
      <span class="megamenu-column__title">{{ "Software for hospitality"|t }}</span>
      {% for item in data['megamenu']['0']['children']['software_for_hospitaility'] %}
        <div class="megamenu-column__item{% if item['title'] == "Booking Engine" %} megamenu-column__item--booking-engine{% endif %}">
          <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
            <img class="megamenu-column__icon megamenu-column__icon__arrow" src="{{ item['icon_path'] }}"/>
            <span class="megamenu-column__mini-header">{{ item['title']|t }}</span>
            <span class="megamenu-column__mini-text">{{ item['description']|t }}</span>
          </a>
        </div>
      {% endfor %}
      <span class="megamenu-column__title megamenu-column__title--mt32px">{{ "Software for retail"|t }}</span>
      {% for item in data['megamenu']['0']['children']['software_for_retail'] %}
        <div class="megamenu-column__item">
          <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
            <img class="megamenu-column__icon megamenu-column__icon__arrow" src="{{ item['icon_path'] }}"/>
            <span class="megamenu-column__mini-header">{{ item['title']|t }}</span>
            <span class="megamenu-column__mini-text">{{ item['description']|t }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="megamenu-column megamenu-column--center">
      <span class="megamenu-column__title">{{ "Serve any customer"|t }}</span>
      {% for item in data['megamenu']['0']['children']['serve_any_customer'] %}
        <div class="megamenu-column__item">
          <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
            <img class="megamenu-column__icon megamenu-column__icon__arrow" src="{{ item['icon_path'] }}"/>
            <span class="megamenu-column__mini-header">{{ item['title']|t }}</span>
            <span class="megamenu-column__mini-text">{{ item['description']|t }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="lavender-metacontainer">
      <div class="megamenu-column megamenu-column--lavender magamenu-column--right">
        <span class="megamenu-column__title">{{ "Tax Free for merchants"|t }}</span>
        {% for item in data['megamenu']['0']['children']['tax_free_for_merchants'] %}
          <div class="megamenu-column__item">
            <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
              <img class="megamenu-column__icon megamenu-column__icon__arrow" src="{{ item['icon_path'] }}"/>
              <span class="megamenu-column__mini-header">{{ item['title']|t }}</span>
              <span class="megamenu-column__mini-text">{{ item['description']|t }}</span>
            </a>
          </div>
        {% endfor %}
        <span class="megamenu-column__title megamenu-column__title--taxfree-for-shoppers">{{ "Tax Free for Shoppers"|t }}</span>
        <span class="track-my-refund-menu-item megamenu-cta-button">
            <a class="megamenu-link" href="https://www.planetpayment.com/track-my-refund" target="_blank">{{ "Track my refund"|t }}</a>
            </span>
      </div>
    </div>
  </div>

  <div class="megamenu-solutions__desktop display-none">
    {% for item in  data['megamenu']['1']['children'] %}
      <div class="{{ item['classes'] }}">
        <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}class="big-box-link" href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
          <img class="solutions-column__icon" src="{{ item['icon_path'] }}"/>
          <div class="megamenu-solutions__middle-layer">
            <div class="ttl-and-txt">
              <div class="solutions-column__title">{{ item['title']|t }}</div>
              <div class="solutions-column__text">{{ item['description']|t }}</div>
            </div>
            <div class="megamenu-solutions__image_container">
              <img src="/resources/icons/arrow_west_north.svg">
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="megamenu-resources__desktop display-none">
    <div class="navigation-items navigation-items--first">
      {% for item in data['megamenu']['2']['children']|slice(0, 4) %}
        <div class="{{ item['classes'] }}">
          <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
            <div class="megamenu-column__mini-header">{{ item['title']|t }}</div>
            <div class="megamenu-column__mini-text">{{ item['description']|t }}</div>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="navigation-items navigation-items--second">
      {% for item in data['megamenu']['2']['children'][4:2] %}
        <div class="{{ item['classes'] }}">
          {% if "ecampus" in item.title or "eCampus" in item.title %}
            {% if data['#current_language_prefix'] == 'fr' %}
                <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="https://ecampus.weareplanet.com/local/coursecatalogue/index.php?categoryid=4&lang=fr_wp">
                  <div class="megamenu-column__mini-header">{{ item['title']|t }}</div>
                  <div class="megamenu-column__mini-text">{{ item['description']|t }}</div>
                </a>
            {% elseif data['#current_language_prefix'] == 'de' %}
              <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="https://ecampus.weareplanet.com/local/coursecatalogue/index.php?categoryid=4&lang=de_wp">
                <div class="megamenu-column__mini-header">{{ item['title']|t }}</div>
                <div class="megamenu-column__mini-text">{{ item['description']|t }}</div>
              </a>
            {% else %}
              <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="https://ecampus.weareplanet.com/local/coursecatalogue/index.php?categoryid=4">
                <div class="megamenu-column__mini-header">{{ item['title']|t }}</div>
                <div class="megamenu-column__mini-text">{{ item['description']|t }}</div>
              </a>
            {% endif %}
          {% else %}
          <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
            <div class="megamenu-column__mini-header">{{ item['title']|t }}</div>
            <div class="megamenu-column__mini-text">{{ item['description']|t }}</div>
          </a>
          {% endif %}
        </div>
      {% endfor %}
      <div class="navigation-item"></div>
      <div class="navigation-item"></div>
      <div class="navigation-item"></div>
    </div>
    <div class="last-four-case-studies">
      <div class="megamenu-column__title">{{ "Featured customer stories"|t }}</div>
      <div class="iteration-container">
        {% for case_study in data.case_studies %}
          <a class="megamenu-link" href="{{ case_study.url }}">
            <div class="last-four-case-studies__case_study">
              <div class="four-last-case-studies__item" style="background: url('{{ case_study.image_url }}'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
              <span class="megamenu-column__mini-header">{{ case_study.title }}</span>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="megamenu-company__desktop display-none">
    <div class="navigation-items">
      {% for item in data['megamenu']['3']['children'] %}
        <div class="{{ item['classes'] }}">
          <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
            <div class="megamenu-column__mini-header">{{ item['title']|t }}</div>
            <div class="megamenu-column__mini-text">{{ item['description']|t }}</div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Megamenu for mobile and tablet -->
<div class="megamenu-mobile-and-tablets display-none">
  <div class="merged-menu-items">
    <a class="arrow-right-anchor megamenu-link" id="anchor-products" href="javascript:void(0);" alt="An arrow pointing right.">{{ "Products"|t }}
      <img src="/resources/icons/arrow-right-megamenu.svg" alt="An arrow pointing right."></a>
    <a class="arrow-right-anchor megamenu-link" id="anchor-solutions" href="javascript:void(0);" alt="An arrow pointing right.">{{ "Solutions"|t }}
      <img src="/resources/icons/arrow-right-megamenu.svg" alt="An arrow pointing right."></a>
    <a class="arrow-right-anchor megamenu-link" id="anchor-resources" href="javascript:void(0);" alt="An arrow pointing right.">{{ "Resources"|t }}
      <img src="/resources/icons/arrow-right-megamenu.svg" alt="An arrow pointing right."></a>
    <a class="arrow-right-anchor megamenu-link" id="anchor-company" href="javascript:void(0);" alt="An arrow pointing right.">{{ "Company"|t }}
      <img src="/resources/icons/arrow-right-megamenu.svg" alt="An arrow pointing right."></a>
    <span class="protel-login">
      <a class="megamenu-link" target="_blank" href="https://app.protel.net">{{ "Protel login"|t }}</a>
      </span>
    <span class="contact-us">
      {% if data['#current_language_prefix'] == '' or data['#current_language_prefix'] == 'en' %}
        <a class="megamenu-link" href="/contact">{{ "Contact us"|t }}</a>
      {% elseif data['#current_language_prefix'] == 'it' %}
        <a class="megamenu-link" href="/it/contattaci">{{ "Contact us"|t }}</a>
      {% elseif data['#current_language_prefix'] == 'fr' %}
        <a class="megamenu-link" href="/fr/contact">{{ "Contact us"|t }}</a>
      {% elseif data['#current_language_prefix'] == 'de' %}
        <a class="megamenu-link" href="/de/contact">{{ "Contact us"|t }}</a>
      {% elseif data['#current_language_prefix'] == 'es' %}
        <a class="megamenu-link" href="/es/contactar">{{ "Contact us"|t }}</a>
      {% endif %}
      </span>
  </div>
  <div class="megamenu-mobile-and-tablets__container megamenu-mobile-and-tablets__container--products display-none">
    <div class="megamenu-column megamenu-column--left">
      <span class="megamenu-column__title">{{ "Accept payments"|t }}</span>
      {% for item in data['megamenu']['0']['children']['accept_payments'] %}
        <div class="megamenu-column__item">
          <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
            <div class="img-and-mini-header-container">
              <div class="img-and-mini-header-sub-container">
                <div class="img-wrapper">
                  <img class="megamenu-column__icon megamenu-column__icon__arrow" src="{{ item['icon_path'] }}"/>
                </div>
                <span class="megamenu-column__mini-header">{{ item['title']|t }}</span>
              </div>
              <img src="/resources/icons/arrow-right-megamenu.svg" alt="An arrow pointing right.">
            </div>
            <span class="megamenu-column__mini-text">{{ item['description']|t }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="megamenu-column megamenu-column--grey megamenu-column--center">
      <span class="megamenu-column__title">{{ "Software for Hospitality"|t }}</span>
      {% for item in data['megamenu']['0']['children']['software_for_hospitaility'] %}
        <div class="megamenu-column__item{% if item['title'] == "Booking Engine" %} megamenu-column__item--booking-engine{% endif %}">
          <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
            <div class="img-and-mini-header-container">
              <div class="img-and-mini-header-sub-container">
                <div class="img-wrapper">
                  <img class="megamenu-column__icon megamenu-column__icon__arrow" src="{{ item['icon_path'] }}"/>
                </div>
                <span class="megamenu-column__mini-header">{{ item['title']|t }}</span>
              </div>
              <img src="/resources/icons/arrow-right-megamenu.svg" alt="An arrow pointing right.">
            </div>
            <span class="megamenu-column__mini-text">{{ item['description']|t }}</span>
          </a>
        </div>
      {% endfor %}
      <span class="megamenu-column__title">{{ "Software for Retail"|t }}</span>
      {% for item in data['megamenu']['0']['children']['software_for_retail'] %}
        <div class="megamenu-column__item">
          <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
            <div class="img-and-mini-header-container">
              <div class="img-and-mini-header-sub-container">
                <div class="img-wrapper">
                  <img class="megamenu-column__icon megamenu-column__icon__arrow" src="{{ item['icon_path'] }}"/>
                </div>
                <span class="megamenu-column__mini-header">{{ item['title']|t }}</span>
              </div>
              <img src="/resources/icons/arrow-right-megamenu.svg" alt="An arrow pointing right.">
            </div>
            <span class="megamenu-column__mini-text">{{ item['description']|t }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="megamenu-column megamenu-column--center">
      <span class="megamenu-column__title">{{ "Serve any customer"|t }}</span>
      {% for item in data['megamenu']['0']['children']['serve_any_customer'] %}
        <div class="megamenu-column__item">
          <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
            <div class="img-and-mini-header-container">
              <div class="img-and-mini-header-sub-container">
                <div class="img-wrapper">
                  <img class="megamenu-column__icon megamenu-column__icon__arrow" src="{{ item['icon_path'] }}"/>
                </div>
                <span class="megamenu-column__mini-header">{{ item['title']|t }}</span>
              </div>
              <img src="/resources/icons/arrow-right-megamenu.svg" alt="An arrow pointing right.">
            </div>
            <span class="megamenu-column__mini-text">{{ item['description']|t }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="lavender-metacontainer">
      <div class="megamenu-column megamenu-column--lavender magamenu-column--right">
        <span class="megamenu-column__title">{{ "Tax Free for Merchants"|t }}</span>
        {% for item in data['megamenu']['0']['children']['tax_free_for_merchants'] %}
          <div class="megamenu-column__item{% if item['title'] == "Booking Engine" %} megamenu-column__item--booking-engine{% endif %}">
            <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
              <div class="img-and-mini-header-container">
                <div class="img-and-mini-header-sub-container">
                  <div class="img-wrapper">
                    <img class="megamenu-column__icon megamenu-column__icon__arrow" src="{{ item['icon_path'] }}"/>
                  </div>
                  <span class="megamenu-column__mini-header">{{ item['title']|t }}</span>
                </div>
                <img src="/resources/icons/arrow-right-megamenu.svg" alt="An arrow pointing right.">
              </div>
              <span class="megamenu-column__mini-text">{{ item['description']|t }}</span>
            </a>
          </div>
        {% endfor %}
        <span class="megamenu-column__title megamenu-column__title--taxfree-for-shoppers">{{ "Tax Free for Shoppers"|t }}</span>
        <span class="track-my-refund-menu-item megamenu-cta-button">
            <a class="megamenu-link" target="_blank" href="https://www.planetpayment.com/track-my-refund">{{ "Track my refund"|t }}</a>
            </span>
      </div>
    </div>
  </div>
  <div class="megamenu-mobile-and-tablets__container megamenu-mobile-and-tablets__container--solutions display-none">
    {% for item in  data['megamenu']['1']['children'] %}
      <div class="{{ item['classes'] }}">
        <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}class="big-box-link" href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
          <img class="solutions-column__icon" src="{{ item['icon_path'] }}"/>
          <div class="megamenu-solutions__middle-layer">
            <div class="ttl-and-txt">
              <div class="solutions-column__title">{{ item['title']|t }}</div>
              <div class="solutions-column__text">{{ item['description']|t }}</div>
            </div>
            <div class="megamenu-solutions__image_container">
              <img src="/resources/icons/arrow_west_north.svg">
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="megamenu-mobile-and-tablets__container megamenu-mobile-and-tablets__container--resources display-none">
    <div class="navigation-items">
      {% for item in data['megamenu']['2']['children'] %}
        <div class="{{ item['classes'] }}">
          <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
            <div class="megamenu-column__mini-header">{{ item['title']|t }}</div>
            <div class="megamenu-column__mini-text">{{ item['description']|t }}</div>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="last-four-case-studies">
      <div class="megamenu-column__title">{{ "Featured customer stories"|t }}</div>
      <div class="iteration-container">
        {% set case_study_count = data.case_studies|length - 1 %}
        {% for key, case_study in data.case_studies %}
          <a class="megamenu-link" href="{{ case_study.url }}">
            <div class="last-four-case-studies__case_study">
              <div class="four-last-case-studies__item four-last-case-studies__item--last" style="background: url('{{ case_study.image_url }}'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
              {% if key == case_study_count %}
                <span class="megamenu-column__mini-header megamenu-column__mini-header--last">{{ case_study.title }}</span>
              {% else %}
                <span class="megamenu-column__mini-header">{{ case_study.title }}</span>
              {% endif %}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="megamenu-mobile-and-tablets__container megamenu-mobile-and-tablets__container--company display-none">
    <div class="navigation-items">
      {% for item in data['megamenu']['3']['children'] %}
        <div class="{{ item['classes'] }}">
          <a class="megamenu-link" {% if item['_blank'] %}target="_blank" {% endif %}href="{% if item['url'][data['#current_language_prefix']] %}{{ item['url'][data['#current_language_prefix']] }}{% else %}{{ item['url']['en'] }}{% endif %}">
            <div class="megamenu-column__mini-header">{{ item['title']|t }}</div>
            <div class="megamenu-column__mini-text">{{ item['description']|t }}</div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
