{% set footer_menu = elements['content'][0]['footer_menu'] %}
{% set current_language_prefix = elements['content'][0]['#current_language_prefix'] %}
{% set first_row_keys = ['Software', 'Solutions', 'Payments'] %}
{% set second_row_keys = ['Tax Free', 'Resources', 'Company'] %}
{% set lang_switcher_data = elements['content'][0]['lang_switcher_data']['#data'] %}

<footer class="footer-meta-container">
	<div class="footer_meta_container__container container__logos">
		<div class="links-column">
			<a class="planet-logo" href="https://www.weareplanet.com"><img src="/resources/logo/planet_logo.svg"></a>
			<!-- [NOTE This is a workaround for what Twig Tweak normally does. -->
			<div class="language-switcher-container">{% include '/modules/custom/planet_language_switcher/templates/language-switcher.html.twig' with {'data': lang_switcher_data } %}</div>
			<a href="https://www.linkedin.com/company/planet/" class="linkedin-menu-icon"></a>
		</div>
	</div>

	<div class="footer-meta-container__rows">
		<div class="footer-row--first footer-row">
			{% for key, footer_menu_item in footer_menu %}
				{% if key in first_row_keys %}
					<div class="footer_meta_container__container container__{{ key|lower }}">
						<div class="links-column">
							<h4 class="footer-container__h4">{{ key|t }}</h4>
									{% for footer_menu_subitem in footer_menu_item %}
										{% if footer_menu_subitem['url'][current_language_prefix] %}
											<a href="{{ footer_menu_subitem['url'][current_language_prefix] }}">{{ footer_menu_subitem['title'] }}</a>
										{% else %}
											<a href="{{ footer_menu_subitem['url']['en'] }}">{{ footer_menu_subitem['title'] }}</a>
										{% endif %}
									{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="footer-row--second footer-row">
			{% for key, footer_menu_item in footer_menu %}
				{% if key in second_row_keys %}
					<div class="footer_meta_container__container container__{% if key == 'Tax Free' %}tax-free{% else %}{{ key|lower }}{% endif %}">
						<div class="links-column">
							<h4 class="footer-container__h4">{{ key|t }}</h4>
							{% for footer_menu_subitem in footer_menu_item %}
								{% if footer_menu_subitem['url'][current_language_prefix] %}
									<a {% if footer_menu_subitem['title'] == "Track my refund" %} target="_blank" {% endif %} href="{{ footer_menu_subitem['url'][current_language_prefix] }}">{{ footer_menu_subitem['title'] }}</a>
								{% else %}
									<a {% if footer_menu_subitem['title'] == "Track my refund" %} target="_blank" {% endif %} href="{{ footer_menu_subitem['url']['en'] }}">{{ footer_menu_subitem['title'] }}</a>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</footer>
