{% if elements.case_studies is not empty %}
	{% set case_studies = elements.case_studies %}
{% endif %}

<div class="case_studies__more-block-container">
	<h1 class="case-study-page__h1 case-study-page__h1--more-block">{{ 'More customer stories'|t }}</h1>
	<div class="case_studies__more-block-content">
	{% for case_study in case_studies %}
		<div style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(224, 0, 131, 0.10) 34.5%), url('{{ case_study.image_url }}'); background-size: cover; background-repeat: no-repeat; background-position: center;" class="carousel__item carousel__item--more-block">
					<a class="link--read-full-story link--read-full-story--more-block" href="{{ case_study.url }}">
						<img class="case-study__logo-image case-study__logo-image--more-block" src="{{ case_study.logo_url }}" loading="lazy">
						<div class="case-study__more-block__content">
							<span class="case-study__more-block__content__label">{{ case_study.company_name }} x Planet</span>
							<div class="case-study__more-block__content__read_full_story">
								<span class="read-full-story__span">{{ "Read full story"|t }}</span>
								<img class="read-full-story__img" src="/resources/icons/sharp-arrow-pointing-right.svg" loading="lazy">
							</div>
						</div>
					</a>
		</div>
	{% endfor %}
	</div>
</div>