{%
 set color = case_study_data['grow_your_business_settings']['color']
%}

<div class="grow-your-business__meta_container">
	<div class="grow-your-business__container grow_your-business__container--medium grow_your-business__container--medium--{{ color }}">
		<div class="grow_your-business__container--medium__content">
			<span class="{% if color != 'white' %}{{ 'white' }}{% else %}{{ 'black' }}{% endif %}-text">{{ "Grow your business with Planet"|t }}</span>
			<span class="coh-style-primary-light-atom-"><a class="{{ color }}-text" href="{{ contact_sales_url }}">{{ "Get a demo"|t }}</a></span>
		</div>
	</div>
</div>
