<div id="block-language-switcher" class="language-switcher">
  <div class="language-switcher__wrapper">
    <div
      class="language-switcher__select-menu"
      aria-labelledby="language-switcher-label"
      id="language-switcher-select"
      role="listbox"
      aria-expanded="false"
      aria-haspopup="listbox"
      tabindex="0">
      <div class="language-switcher__button-wrapper">
        <div class="language-switcher__button" id="language-switcher-button" role="option">
          <div class="custom-language__country language-switcher__item">
            <span><span class="ls-item__minicontainer"><img src="{{ data.current_language['flag'] }}"/>{{ data.current_language.name }}</span><img class="language-switcher__arrow" src="/resources/icons/language_switcher/icon-down.svg"/></span>
          </div>
        </div>
      </div>

      <div class="language-switcher__drop-down">
        <div class="language-switcher__drop-down__wrapper">
          <ul class="language-switcher__dropdown-menu" role="listbox">
            {% for key, item in data.links %}
              <li class="language-switcher__item {{ not item.active ? ' disabled' }}" role="option" tabindex="0">
                <a class="language-switcher__link" href="{{ item.url }}"><span><img src="{{ item.flag }}">{{ item.name }}</span></a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="language-switcher__tooltip"><i class="icon"></i></div>
  </div>
</div>
