{% set testimonials = [
    {
        'logo': '/resources/logos/Logo_Chopard.svg',
        'name': 'Chopard',
        'vertical_text': 'Using Planet for <span class="font-semibold">Payments</span>',
        'review': '"Planet software has transformed our business operations. The intuitive interface, customizable features, and responsive customer support have been exceptional. With Planet, we\'ve streamlined processes, increased efficiency, and received unparalleled assistance whenever needed. Highly recommended for any business seeking reliable software solutions."',
        'person': 'Qiao Zhang',
        'role': 'VIP Sales Manager',
    },
    {
        'logo': '/resources/logos/homepage/el_corte_ingles.png',
        'name': 'El Corte Ingles',
        'vertical_text': 'Using Planet for <span class="font-semibold">Tax Free</span>',
        'review': '"I believe that the evolution of the company together with Planet as a partner in the Tax Free service has made us go from a weakness in the way we do things to being leaders or one of the leading companies in Europe in this process, as our clients tell us."',
        'person': 'Javier Fernández Andrino',
        'role': 'Director of International Retail and Luxury Business Development',
    },
    {
        'logo': '/resources/logos/homepage/blue-lagoon-iceland-logo.png',
        'name': 'Blue Lagoon',
        'vertical_text': 'Using Planet for <span class="font-semibold">Payments</span>',
        'review': '"Planet is a strategic payment partner. It’s enabling us to do the grand vision. With Planet, a guest can walk around the lagoon, and go to the restaurant, spa, cafe and purchase skincare and never have to (physically) checkout, as we charge the card with everything they purchase, using the secure token. I’ve been working with several payment partners, and Planet is number one."',
        'person': 'Sigurður Long',
        'role': 'Chief Information Officer & Chief Digital Officer',
    }
] %}

<div class="relative">
    <div class="hidden md:flex items-center h-[480px]">
        <div class="md:w-6/12 h-full px-4"></div>
        <div
                class="md:w-6/12 h-full px-4 rounded-l-2xl overflow-hidden md:bg-[url('/resources/images/accept-payments-hero-new.jpg')] bg-cover bg-no-repeat bg-center">

        </div>
    </div>
    <div class="md:absolute w-full h-full top-0 left-0">
        <div class="xl:container mx-auto h-full">
            <div class="flex items-center h-full flex-col-reverse md:flex-row">
                <div class="w-full md:w-6/12  px-4 md:px-8">
          <span
                  class="block text-sm font-semibold leading-4 pl-4 border-l-4 border-solid border-l-[#E00083] mb-4">{{ "ACCEPT PAYMENTS"|t }}</span>
                    <span
                            class="block font-semibold text-[28px] lg:text-5xl mb-4">{{ "Accept payments anywhere"|t }}</span>
                    <p
                            class="font-light leading-5 lg:leading-6 text-base lg:text-xl">{{ "Wherever your customers choose to pay, Planet gives retail, hospitality and transportation businesses of all sizes the flexibility to accept payments anywhere, anytime through one partner."|t }}</p>
                    <a
                            class="font-semibold block md:inline-block h-14 flex justify-center rounded-full tracking-tight text-white text-lg bg-black hover:bg-[rgb(224,0,131)] hover:text-white transition-all duration-300 ease-in-out mt-8 py-4 px-6 w-full md:w-auto"
                            href="{{ contact_sales_url }}">{{ "Contact Us"|t }}</a>
                </div>
                <div
                        class="w-full md:w-6/12 px-4 md:h-full mb-8 md:mb-0 h-56  bg-[url('/resources/images/accept-payments-hero-new.jpg')] md:bg-[url('/resources/images/accept-payments-hero-new.jpg')] rounded-[8px] md:rounded-b-0 md:bg-none bg-cover bg-no-repeat bg-center md:rounded-none"></div>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-col px-8">
    <div
            class="leading-[60px] text-center font-semibold text-[28px] text-[28px] md:text-5xl mt-12 md:mt-20 mb-6 md:mb-8 lg:mb-12">{{ "All channels in one place"|t }}</div>
    <div class="flex flex-col lg:flex-row gap-6 justify-center">
        <!-- Online Section -->
        {% for card in cards %}
            <div
                    class="rounded-3xl bg-black h-[404px] w-full w-auto lg:w-[323px] box-content border border-solid border-[#D1D1D1]">
                <div
                        class="{% if card.class == 'online' %}bg-online{% elseif card.class == 'inperson' %}bg-inperson{% else %}bg-unattended{% endif %} mx-2 mt-2 w-auto lg:w-[307px] h-[208px] bg-[url('{{ card.img_path }}')] bg-cover bg-no-repeat bg-top rounded-2xl"></div>
                <div class="p-6">
                    {% if card.url %}
                        <a class="flex items-baseline group" href="{{ card.url }}"><span
                                    class=" block text-2xl leading-[30px] pb-4 transition-all duration-300 mr-4 group-hover:mr-6 text-white font-semibold">{{ card.title|t }}</span><img
                                    class="inline"
                                    src="/resources/icons/card-long-white-arrow-right.svg"></a>
                    {% else %}
                        <span
                                class=" block text-2xl leading-[30px] pb-4 text-white font-semibold">{{ card.title|t }}</span>
                    {% endif %}
                    {% for child_card in card.children %}
                        {% if child_card.url %}
                            <a
                                    class="block group text-white py-[7px] leading-[20px] font-semibold"
                                    href="{{ child_card.url }}"><span
                                        class="transition-all duration-300 mr-4 group-hover:mr-6">{{ child_card.title|t }}</span><img
                                        class="inline"
                                        src="/resources/icons/card-long-white-arrow-right.svg"></a>
                        {% else %}
                            <span
                                    class="block group text-white py-[7px] leading-[20px] font-semibold"><span
                                        class="mr-4 group-hover:mr-6">{{ child_card.title|t }}</span></span>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div
            class="flex justify-center flex-col max-w-[1280px] mx-auto my-0 mb-12 md:mb-20">
        <div
                class="text-center text-[28px] leading-[34px] md:text-5xl mt-20 mb-12 font-semibold md:leading-[60px]">{{ "With Planet you get"|t }}</div>
        <div class="lg:justify-center lg:flex-wrap lg:flex lg:gap-x-[80px]">
            <div class="mb-6 md:mb-8 lg:mb-8 w-auto md:w-[488px] lg:w-[444px]">
                <div class="font-semibold mb-2 leading-[30px] text-2xl">{{ "Localised checkout options"|t }}</div>
                <div class="font-light text-base md:text-xl leading-[22px] md:leading-7">{{ "Planet provides a wide variety of payment methods, giving all shoppers the ways they love to pay."|t }}</div>
            </div>
            <div class="mb-6 md:mb-8 lg:mb-8 w-auto md:w-[488px] lg:w-[444px]">
                <div class="font-semibold mb-2 leading-[30px] text-2xl">{{ "Choice of currency"|t }}</div>
                <div class="font-light text-base md:text-xl leading-[22px] md:leading-7">{{ "Accept and process online and in-person Payments in over 135 currencies."|t }}</div>
            </div>
            <div class="mb-6 md:mb-8 lg:mb-8 w-auto md:w-[488px] lg:w-[444px]">
                <div class="font-semibold mb-2 leading-[30px] text-2xl">{{ "Integrates with your business"|t }}</div>
                <div class="font-light text-base md:text-xl leading-[22px] md:leading-7">{{ "Connect payments data seamlessly across critical systems like booking engines, ecommerce platforms, point-of-sale, and more for a single source of truth. Our solutions integrate with your existing tools and workflows."|t }}</div>
            </div>
            <div class="mb-6 md:mb-8 lg:mb-8 w-auto md:w-[488px] lg:w-[444px]">
                <div class="font-semibold mb-2 leading-[30px] text-2xl">{{ "Security by design"|t }}</div>
                <div class="font-light text-base md:text-xl leading-[22px] md:leading-7">{{ "Planet conforms to the highest levels of security with a PCI Level 1 certification."|t }}</div>
            </div>
        </div>
    </div>
</div>
<div
        class="lg:mb-6 w-100 bg-black h-auto px-4 rounded-3xl lg:rounded-[32px] pb-20 md:px-8 text-white flex flex-col items-center">
    <div
            class="text-center text-[28px] leading-[34px] md:text-5xl mt-12 md:mt-20 mb-8 md:mb-12 font-semibold md:leading-[60px]">{{ "We power business"|t }}</div>
    <div class="flex flex-col lg:flex-row gap-6 w-full lg:w-auto justify-center">
        <a class="h-[240px] lg:max-w-[304px] group flex items-end  box-content border border-solid border-white rounded-2xl px-6"
           href="{{ retail_url }}">
            <div class="w-full">
                <div class="flex-start flex flex-col w-full justify-between">
                    <img class="self-start py-[6px]"
                         src="/resources/icons/shopping_bag_white.svg"
                         alt="Shopping Bag">
                    <div class="flex items-center">
                        <span class="w-full min-w-[137px] xs:max-w-[120px] xs:min-w-[100px] my-[25px] text-2xl mr-[99px]">{{ "Retail"|t }}</span>
                        <img
                                class="bottom-0 left-0 relative transition-all duration-300 ease-in group-hover:bottom-4 group-hover:left-2 inline h-8"
                                src="/resources/icons/arrow_solutions.svg">
                    </div>
                </div>
            </div>
        </a>
        <a class="h-[240px] lg:max-w-[304px] group flex items-end box-content border border-solid border-white rounded-2xl px-6"
           href="{{ hospitality_url }}">
            <div class="w-full">
                <div class="flex-start flex flex-col w-full justify-between">
                    <div>
                        <img class="self-start pt-[12px] -mb-[6px]"
                             src="/resources/icons/hospitality-payments.svg" alt="Bed">
                        <div class="flex items-center">
                            <span class="min-w-[137px] xs:max-w-[120px] xs:min-w-[100px] my-[25px] text-2xl mr-[99px] w-full">{{ "Hospitality"|t }}</span>
                            <img
                                    class="bottom-0 left-0 relative transition-all duration-300 group-hover:bottom-4 group-hover:left-2 inline h-8 ease-in"
                                    src="/resources/icons/arrow_solutions.svg">
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ travel_url }}">
            <div class="group flex items-end h-[240px] lg:max-w-[304px] box-content border border-solid border-white rounded-2xl px-6">
                <div class="flex-start flex flex-col w-full justify-between">
                    <img class="self-start pt-[12px] pb-[10px] -mb-[10px] w-12"
                         src="/resources/icons/car-white.svg"
                         alt="Sport car">
                    <div class="flex items-center">
                        <span class="min-w-[137px] xs:max-w-[120px] xs:min-w-[100px] my-[25px] text-2xl mr-[99px] w-full">{{ "Travel"|t }}</span>
                        <img
                                class="bottom-0 left-0 relative transition-all duration-300 group-hover:bottom-4 group-hover:left-2 inline h-8 ease-in"
                                src="/resources/icons/arrow_solutions.svg">
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>
<div class="hidden lg:block lg:brands-we-work-with-meta-container mt-6">
    <div class="brands-we-work-with-mega-container">
        <div class="brands-we-work-with-container">
            {% for i in 0..12 %}
                {% for key, brand in brands %}
                    <img src="{{ brand.src }}"
                         {% if key > 10 and key < 18 %}loading="lazy"{% endif %}/>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
<div>
    <div class="md:max-w-[1344px] mx-auto px-4 md:px-8 mx-auto">
        <div class="text-center text-[28px] leading-[34px] md:text-5xl mt-12 md:mt-20 mb-8 md:mb-10 font-semibold md:leading-[60px]">{{ "They chose Planet"|t }}</div>
        <div>
            <div class="px-8 py-14 bg-custom-fafafa flex items-center justify-center flex-col rounded-[32px] overflow-hidden"
                 style="box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);">
                <div class="w-full">
                    <div class="swiper swiper-testimonials">
                        <div class="swiper-wrapper">
                            {% for testimonial in testimonials %}
                                <div class="swiper-slide">
                                    <div class="bg-zinc-50 p-4 md:p-8 h-full w-full text-center">
                                        <img src="{{ testimonial.logo }}"
                                             alt="{{ testimonial.name }} Logo"
                                             class="mx-auto mb-6 h-[100px]">
                                        <h1 class="text-xl mb-6">{{ testimonial.vertical_text|t }}</h1>
                                        <p class="font-light text-[#202020] text-xl leading-7 mb-6">{{ testimonial.review|t }}</p>
                                        <p class="text-[#202020]">{{ testimonial.person }}</p>
                                        <p class="text-[#202020] font-semibold">{{ testimonial.role }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="custom-pagination">
                    <div class="flex justify-center mt-6 mb-8">
                        <button class="prev-inner-button w-8 h-8 bg-[#f0f3fe] rounded-full flex items-center justify-center mx-2 hover:bg-gray-300">
                            <img id="arrow-third"
                                 src="/resources/icons/arrow-left-accept-payments.svg">
                        </button>
                        <button class="next-inner-button w-8 h-8 bg-[#f0f3fe] rounded-full flex items-center justify-center mx-2 hover:bg-gray-300">
                            <img id="arrow-fourth"
                                 src="/resources/icons/arrow-right-accept-payments.svg"
                                 alt="Arrow right">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center pt-10 pb-12 md:pb-20 md:pb-0">
            <a href="{{ case_studies_url }}"
               class="lg:transition-all lg:duration-300 text-center bg-black inline-block hover:bg-[#e00083] hover:text-zinc-100 text-zinc-100 font-semibold py-4 px-6 rounded-full mr-4">
                {{ "Read all customer stories"|t }}
            </a>
        </div>
    </div>
</div>
