{#
  Custom Twig template for the Blog homepage.
  Template variables available:
    - content: An array of content elements.
    - node: The node entity representing the "blog" content.
    - label: The node label.
    - url: The node URL.
    - attributes: HTML attributes for the node wrapper.
#}
<div>
	<div class="plnt-blog-archive-news-page">
		<div class="coh-container coh-container-boxed news-main-title breadcrumbs">
			<div class="coh-row">
				<div class="coh-row-inner">
					<div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-3">
						<div class="breadcrumbs">
							<a href="{{useful_links.newsroom}}">{{"Newsroom"|t}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="coh-container coh-container-boxed max-width-1216 news-container">
			<div class="coh-row">
				<div class="coh-row-inner">
					<div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-12">
						<div class="last-articles">
							<div class="news-title no-margin">
								<h1 class="planet-h1">{{"All news"|t}}</h1>
							</div>
								<div class="coh-row">
										<div class="planet-select-wrapper">
											{% if tags %}
											<div class="custom-select planet-news-select-category">
												<div data-value="all" class="select-selected">{{"All categories"|t}}</div>
												<div class="select-items">
													<div data-value="all">{{"All categories"|t}}</div>
													{% for tag in tags %}
														<div data-value="{{tag.id}}">{{tag.name}}</div>
													{% endfor %}
												</div>
											</div>
											{% endif %}
											{% if years %}
											<div class="custom-select planet-news-select-years">
												<div data-value="all" class="select-selected">{{"All years"|t}}</div>
												<div class="select-items">
													<div data-value="all">{{"All years"|t}}</div>
													{% for year in years %}
														<div data-value="{{year.id}}">{{year.name}}</div>
													{% endfor %}
												</div>
											</div>
											{% endif %}
										</div>
								</div>


							<div>
								<div class="article-cards-wrapper">
									<div class="coh-row">
										<p class="no-articles" style="display: none">{{"No news found."|t}}</p>
										<div class="loader">
											<img src="/resources/icons/loader.svg">
										</div>
										<div class="coh-row-inner article-js-wrapper" data-category="all" data-year="all" data-total="0" data-limit="9" data-offset="0"></div>
									</div>
								</div>
								<div class="load-more-wrapper" style="display: none">
								<div id="load-more-button" class="coh-link coh-style-primary-dark-atom-">{{"Load more"|t}}
									<img src="/resources/icons/down-white-arrow.svg"></div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="coh-container coh-container-boxed external-news-wrapper useful-news-links-box-wrapper max-width-1216">
			<div class="coh-row">
				<div class="coh-row-inner">
					<div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-12">
						<div class="last-articles">
							<div>
								<div class="article-cards-wrapper">
									<div class="coh-row">
										<div class="coh-row-inner">
											<div class="useful-link-box news-box-wrapper article-wrapper coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-6">
												<div class="article-card news-card">
													<div class="article-card-content">
														<div>
															<img class="planet-box-icon" src="/resources/icons/mail.svg">
															<span class="article-title planet-h3">{{"Contact our PR team"|t}}</span>
															<p>{{"For any press-related inquiries, contact"|t}}
																<a href="mailto:media@weareplanet.com">media@weareplanet.com</a>
															</p>
														</div>
													</div>
												</div>
											</div>
											<div class="useful-link-box news-box-wrapper article-wrapper coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-6">
												<div class="article-card news-card">
													<div class="article-card-content">
														<div>
															<img class="planet-box-icon" src="/resources/icons/support.svg">
															<span class="article-title planet-h3">{{"For non-media inquiries"|t}}</span>
															<p>{{"For non-media inquiries, contact our Planet support team."|t}}</p>
														</a>
													</p>
												</div>
												<div class="card-button-wrapper">
													<a class="card-button button-with-icon-transition" href="{{useful_links.contact}}">{{"Contact us"|t}}
														<img src="/resources/icons/blue-right-arrow.svg"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div>
