{% set heroTitle  = 'Connecter <span class="text-[#9aaef9]">paiements</span> et<br><span class="text-[#9aaef9]">technologie</span>' %}
{% set heroDescription = 'Évitez de jongler entre plusieurs fournisseurs. Planet combine les services de détaxe, les paiements et les outils logiciels en un seul partenaire pour plus de simplicité.' %}
{% set heroContactButtonText = 'Contactez-nous' %}
{% set madeForTitle = 'Logiciels et paiements conçus pour' %}
{% set madeForRetailTitle = 'La vente' %}
{% set heroContactButtonLink = '/fr/contact' %}
{% set retailLink = '/fr/retail' %}
{% set hospitalityLink = '/fr/hospitalite' %}
{% set travelLink = '/fr/voyage' %}
{% set paymentsLink = '/fr/paiements' %}
{% set hotelPmsLinks = '/fr/hotel-pms' %}
{% set pciProxyLink = '/fr/pci-proxy' %}
{% set taxFreeLink = '/fr/remboursement-tva' %}
{% set caseStudiesLink = '/fr/etudes-de-cas' %}
{% set findOutMoreText = 'En savoir plus' %}
{% set learnMoreText = 'En savoir plus' %}
{% set madeForRetailDescription = 'Des marques de luxe aux marques grand public, les détaillants collaborent avec Planet pour améliorer l\'expérience de shopping détaxé, tout en simplifiant leurs opérations grâce à nos outils intégrés.' %}
{% set madeForHospitalityTitle = "L'hôtellerie" %}
{% set madeForHospitalityDescription = 'Hôtels, restaurants, bars et acteurs du divertissement recherchent un partenaire mondial unique pour des solutions logicielles et de paiements flexibles.' %}
{% set madeForTravelTitle = 'La mobilité' %}
{% set madeForTravelDescription = "Les exploitants de parkings, les compagnies aériennes et ferroviaires, ainsi que les opérateurs de bornes de recharge pour véhicules électriques choisissent Planet pour accepter et traiter les paiements de manière pratique et sécurisée, où qu'ils se trouvent." %}
{% set exploreProductsTitle = 'Découvrez nos produits' %}
{% set exploreProductsDescription = 'Profitez d\'outils logiciels et de solutions de paiement, sans avoir besoin de fournisseurs distincts.' %}
{% set paymentsTitle = 'Paiements' %}
{% set paymentsDescription = 'Gérez différents paiements de manière sécurisée, en ligne, en personne ou en déplacement, et acceptez plusieurs devises grâce à un seul partenaire mondial.' %}
{% set pmsTitle = 'Logiciel de gestion immobilière' %}
{% set pmsDescription = 'Exécutez vos opérations quotidiennes avec un logiciel de gestion immobilière facile à utiliser, sécurisé et évolutif. Intégrez-le facilement à votre écosystème hôtelier.' %}
{% set tokenVaultTitle = 'Token Vault' %}
{% set tokenVaultDescription = 'Recueillez des données de paiement sensibles et transformez-les en Tokens selon vos besoins, puis partagez ces Tokens en toute sécurité avec plusieurs gestionnaires de traitement.' %}
{% set taxFreeTitle = 'Détaxe' %}
{% set taxFreeDescription = 'Transformez les voyages internationaux en une expérience fluide et gratifiante, et améliorez l\'efficacité de la gestion des formulaires de détaxe pour votre équipe.' %}
{% set whyChooseTitle = 'Pourquoi choisir Planet ?' %}
{% set whyChooseDescription = 'Nous combinons paiements, outils logiciels et technologie dans une solution flexible, adaptée à votre activité, le tout grâce à un seul partenariat stratégique et évolutif, pour vous faire gagner du temps et de l\'argent.' %}
{% set removeFriction = 'Éliminez les frictions' %}
{% set generateRevenue = 'Générez des revenus' %}
{% set simplify = 'Simplifiez' %}
{% set frictionTitle = 'Répondez mieux aux besoins de vos clients en éliminant les problèmes' %}
{% set frictionDescription = 'Notre approche connectée unique vous permet de créer une expérience fluide, agréable et cohérente pour tous vos clients, où qu\'ils soient.' %}
{% set revenueTitle = 'Augmentez vos revenus grâce à des services à forte valeur ajoutée' %}
{% set revenueDescription = 'Tandis que les dépenses touristiques augmentent, optimisez vos revenus issus des paiements grâce à nos solutions de change et à nos services de remboursement de TVA (Tax Free).' %}
{% set simplifyTitle = 'Simplifiez vos opérations sans compromettre la flexibilité' %}
{% set simplifyDescription = 'Consolidez votre pile technologique en choisissant Planet comme unique partenaire pour les paiements, les outils logiciels et les services détaxés, à l\'échelle locale ou mondiale, ou adoptez uniquement les solutions dont vous avez besoin. C\'est vous qui décidez.' %}
{% set ourNumbersTitle = 'Nos chiffres parlent d\'eux-mêmes' %}
{% set ourNumbersDescription = 'Planet est un leader mondial des solutions technologiques et de paiement intégrées pour les secteurs du commerce et de l\'hôtellerie. Nous offrons des expériences exceptionnelles à des millions de personnes qui utilisent nos solutions de paiement, nos logiciels et nos services détaxés, chaque minute, chaque jour.' %}
{% set yearsExperienceDescription = 'Des années d\'expérience' %}
{% set customersCountDescription = 'Clients' %}
{% set activeMarkets = 'Marchés actifs' %}
{% set theyChosePlanetTitle = 'Ils ont choisi Planet' %}
{% set readAllCustomerStoriesText = 'Lisez toutes les histoires clients' %}
{% set startWithPlanetTitle = "Commencez avec Planet aujourd'hui" %}
{% set getInTouchText = 'Contactez-nous' %}
{% set usingPlanetFor = 'Ils utilisent Planet pour' %}
{% set solutionsMadeFor = 'Les solutions technologiques et de paiement pour' %}
{% set categories = [
    'vente',
    'hôtels',
    'détaxe',
    'opérateurs de parking',
    'bornes de recharge pour véhicules électriques',
    'casinos',
    'centres de spa et bien-être',
    'restaurants',
    'e-commerce',
    'supermarchés',
    'attractions'
] %}

{% set testimonials = [
    {
        'logo': '/resources/logos/Logo_Chopard.svg',
        'name': 'Chopard',
        'vertical': 'Paiements',
        'review': '"La solution logicielle Planet a transformé nos opérations commerciales. L\'interface intuitive, les fonctionnalités personnalisables et l\'assistance client réactive sont exceptionnelles. Avec Planet, nous avons simplifié nos processus et renforcé notre efficacité, et nous bénéficions d\'une aide hors pair en cas de besoin. Je recommande vivement Planet à toutes les entreprises à la recherche de solutions logicielles fiables."',
        'person': 'Qiao Zhang',
        'role': 'Responsable des ventes VIP',
    },
    {
        'logo': '/resources/logos/homepage/el_corte_ingles.png',
        'name': 'El Corte Ingles',
        'vertical': 'Détaxe',
        'review': '"Je crois que l\'évolution de notre entreprise avec Planet comme partenaire pour les services de remboursement de la TVA nous a permis de passer d\'une faiblesse à devenir l\'un des leaders en Europe dans ce domaine, comme nous le disent nos clients."',
        'person': 'Javier Fernández Andrino',
        'role': 'Responsable du développement commercial international pour le luxe et les détaillants',
    },
    {
        'logo': '/resources/logos/homepage/blue-lagoon-iceland-logo.png',
        'name': 'Blue Lagoon',
        'vertical': 'Paiements',
        'review': '"Planet est un partenaire stratégique pour les paiements. Ils nous permettent de réaliser notre vision. Grâce à Planet, un invité peut parcourir la lagune, aller au restaurant, au spa, au café et acheter des produits de soin sans devoir passer par une caisse physique, car nous facturons automatiquement la carte de crédit avec un jeton sécurisé pour chaque achat. J\'ai travaillé avec plusieurs partenaires de paiement, et Planet est numéro un."',
        'person': 'Sigurður Long',
        'role': 'Responsable informatique et digital',
    }
] %}


<div class="bg-zinc-50">
	<div class="home-hero requires-transparent-header planet-header-transparent orbs-animation bg-zinc-50 relative">
		<div class="absolute z-0 w-full hero-b-radius h-full overflow-hidden bg-black">
			<div class="orb-2"><img src="/resources/images/orb-pink.png"></div>
			<div class="orb-1"><img src="/resources/images/orb-blue.png"></div>
		</div>
		<div class="relative z-[1] flex items-center bg-hero-background bg-cover bg-right h-full px-4 md:px-8 lg:px-0 content-center front-page-hero no-mobile-bg">
			<div class="max-w-[1280px] w-full mx-auto py-14 md:py-20">
				<div class="mx-auto w-full text-center">
					<h1 class="text-[44px] leading-[44px] md:leading-none md:text-[56px] lg:text-[88px] lg:leading-[96px] font-semibold text-zinc-100 text-center pb-4">
						{{ heroTitle|raw }}
					</h1>
					<p class="font-light text-base md:text-xl max-w-3xl mx-auto leading-7 text-zinc-100 text-center pb-6">
						{{heroDescription}}
					</p>
					<a href="{{heroContactButtonLink}}" class="lg:transition-all lg:duration-300 text-center bg-zinc-50 inline-block hover:bg-[#e00083] hover:text-zinc-100 text-[#202020] font-semibold py-4 px-6 rounded-full">
						{{heroContactButtonText}}
					</a>
				</div>
			</div>
		</div>
	</div>
	{# <div class="orbs-static hero-b-radius home-hero requires-transparent-header planet-header-transparent bg-zinc-50 relative">
		<div class="relative h-full z-[1] flex items-center bg-hero-background bg-[url('/resources/images/hero-b.jpg')] bg-cover bg-right min-h px-4 lg:px-0 content-center front-page-hero no-mobile-bg">
			<div class="container max-w-[1280px] w-full mx-auto py-14 px-4 md:py-20">
				<div class="pl-0 md:pl-14 lg:pl-[134px] mx-auto w-full text-left">
					<div class="leading-[52px] overflow-hidden text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-semibold text-white text-left pb-6">
					{{solutionsMadeFor|raw}}<span class="md:ml-4 w-full md:w-auto spinny-wrapper">
						<span class="spinny-words">
							{% for category in categories %}
								<span>{{ category }}</span>
							{% endfor %}
						</span>
					</span>
					</div>
					
					<a href="{{heroContactButtonLink}}" class="lg:transition-all lg:duration-300 text-left ml-0 bg-white inline-block hover:bg-[#e00083] hover:text-white text-black font-semibold py-4 px-10 rounded-full mr-4">
						{{heroContactButtonText}}
					</a>
					</h1>
				</div>
			</div>
		</div>
	</div> #}
	<div class="logos-partners py-6 bg-zinc-50">
		<div class="swiper swiper-brands">
			<div class="swiper-wrapper">
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_1.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_2.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_3.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_4.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_5.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_6.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_7.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_8.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_9.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_10.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_11.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_12.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_13.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_14.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_15.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_16.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_17.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_18.svg')]"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="made-for py-12 md:py-20 lg:py-20 px-4 md:px-8 bg-zinc-50">
		<div class="lg:container mx-auto">
			<h2 class="block text-black pb-12 text-4xl leading-[44px] md:leading-none md:text-[56px] text-center font-semibold">{{madeForTitle}}</h2>
			<div data-items="{{ madeForRetailTitle }},{{ madeForHospitalityTitle }},{{ madeForTravelTitle }}"  data-sections=".vertical-1,.vertical-2,.vertical-3" class="plnt-switch verticals-switch mb-12">
                <div class="toggle"></div>
            </div>

                <div>
				<div class="toggle-section vertical-1" style="display: block;">
					<div class="related-product-1">
						<div class="retail-box justify-center items-stretch grid md:grid-cols-2 gap:4 md:gap-6 max-w-5xl mx-auto">
							<div class="order-2 md:order-1 w-full flex items-center how-to-taxfree__card">
								<div class="bg-zinc-50">
									<h3 class="block text-[#202020] pb-4 text-[28px] md:text-[38px] text-left font-semibold">{{madeForRetailTitle}}</h3>
									<p class="text-base md:text-xl md:max-w-sm font-light">{{madeForRetailDescription}}</p>
									<div class="mt-8">
										<a href="{{retailLink}}" class="arrow-link-animation">
											<span class="arrow-text link-text font-semibold text-[#005AB2]">{{findOutMoreText}}</span>
											<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow_right_blue.svg"></span>
										</a>
									</div>
								</div>

							</div>
							<div class="order-1 md:order-2 w-full flex items-cente how-to-taxfree__card">
								<div class="bg-zinc-50">
									<img src="/resources/images/retail-fr.png" alt="{{madeForRetailTitle}}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="toggle-section vertical-2" style="display: none;">
					<div class="related-product-2">
						<div class="hospitality-box justify-center items-stretch grid md:grid-cols-2 gap-4 md:gap-6 max-w-5xl mx-auto">
							<div class="order-2 md:order-1 w-full flex items-center how-to-taxfree__card">
								<div class="bg-zinc-50">
									<h3 class="block text-[#202020] pb-4 text-[28px] md:text-[38px] text-left font-semibold">{{madeForHospitalityTitle}}</h3>
									<p class="text-base md:max-w-sm md:text-xl font-light">{{madeForHospitalityDescription}}</p>
									<div class="mt-8">
										<a href="{{hospitalityLink}}" class="arrow-link-animation">
											<span class="arrow-text link-text font-semibold text-[#005AB2]">{{findOutMoreText}}</span>
											<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow_right_blue.svg"></span>
										</a>
									</div>
								</div>

							</div>
							<div class="order-1 md:order-2 w-full flex items-cente how-to-taxfree__card">
								<div class="bg-zinc-50">
									<img src="/resources/images/hospitality-fr.png" alt="{{madeForHospitalityTitle}}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="toggle-section vertical-3" style="display: none;">
					<div class="related-product-3">
						<div class="travel-box justify-center items-stretch grid md:grid-cols-2 gap-4 md:gap-6 max-w-5xl mx-auto">
							<div class="order-2 md:order-1 w-full flex items-center how-to-taxfree__card">
								<div class="bg-zinc-50 -6">
									<h3 class="block text-[#202020] pb-4 text-[28px] md:text-[38px] text-left font-semibold">{{madeForTravelTitle}}</h3>
									<p class="text-base md:max-w-sm md:text-xl font-light">{{madeForTravelDescription}}</p>
									<div class="mt-8">
										<a href="{{travelLink}}" class="arrow-link-animation">
											<span class="arrow-text link-text font-semibold text-[#005AB2]">{{findOutMoreText}}</span>
											<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow_right_blue.svg"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="order-1 md:order-2 w-full flex items-cente how-to-taxfree__card">
								<div class="bg-zinc-50">
									<img src="/resources/images/unattended-fr.png" alt="{{madeForHospitalityTitle}}">
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>


		</div>
	</div>
	<div class="products-showcase bg-black py-12 md:py-20 rounded-[32px]">
		<div class="lg:container px-4 md:px-8 mx-auto text-zinc-100 text-center">
			<h2 class="text-4xl leading-[44px] md:text-[56px] font-bold mb-2 md:leading-none">{{exploreProductsTitle}}</h2>
			<p class="text-xl mb-12 font-light">{{exploreProductsDescription}}</p>
			<div
				class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-6 mx-auto lg:max-w-[1096px]">
				<!-- Payments -->
				<div class="transition-all hover:bg-neutral-900 p-6 rounded-lg border-white border border-solid text-left flex flex-col justify-between">
					<div class="flex flex-col mb-4">
						<div class="mb-4"><img src="/resources/icons/payments.svg" alt="{{paymentsTitle}}"></div>
						<h2 class="text-2xl md:text-[32px] font-semibold mb-4 mt-2">{{paymentsTitle}}</h2>
						<p class="mb-6 text-base md:text-xl font-light">{{paymentsDescription}}</p>
					</div>
					<a href="{{paymentsLink}}" class="arrow-link-animation mb-1">
						<span class="arrow-text link-text font-semibold text-zinc-100">{{learnMoreText}}</span>
						<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow-right.svg"></span>
					</a>
				</div>
				<!-- Property Management Software -->
				<div class="transition-all hover:bg-neutral-900 p-6 rounded-lg border-white border border-solid text-left flex flex-col justify-between">
					<div class="flex flex-col mb-4">
						<div class="mb-4"><img src="/resources/icons/hospitality-white.svg" alt="{{pmsTitle}}"></div>
						<h2 class="text-2xl md:text-[32px] font-semibold mb-4 mt-2">{{pmsTitle}}</h2>
						<p class="mb-6 text-base md:text-xl font-light">{{pmsDescription}}</p>
					</div>
					<a href="{{hotelPmsLinks}}" class="arrow-link-animation mb-1">
						<span class="arrow-text link-text font-semibold text-zinc-100">{{learnMoreText}}</span>
						<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow-right.svg"></span>
					</a>
				</div>
				<!-- Token Vault -->
				<div class="transition-all hover:bg-neutral-900 p-6 rounded-lg border-white border border-solid text-left flex flex-col justify-between">
					<div class="flex flex-col mb-4">
						<div class="mb-4"><img src="/resources/icons/vault.svg" alt="{{tokenVaultTitle}}"></div>
						<h2 class="text-2xl md:text-[32px] font-semibold mb-4 mt-2">{{tokenVaultTitle}}</h2>
						<p class="mb-6 text-base md:text-xl font-light">{{tokenVaultDescription}}</p>
					</div>
					<a href="{{pciProxyLink}}" class="arrow-link-animation mb-1">
						<span class="arrow-text link-text font-semibold text-zinc-100">{{learnMoreText}}</span>
						<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow-right.svg"></span>
					</a>
				</div>
				<!-- Tax Free -->
				<div class="transition-all hover:bg-neutral-900 p-6 rounded-lg border-white border border-solid text-left flex flex-col justify-between">
					<div class="flex flex-col mb-4">
						<div class="mb-4"><img src="/resources/icons/tax-free.svg" alt="{{taxFreeTitle}}"></div>
						<h2 class="text-2xl md:text-[32px] font-semibold mb-4 mt-2">{{taxFreeTitle}}</h2>
						<p class="mb-6 text-base md:text-xl font-light">{{taxFreeDescription}}</p>
					</div>
					<a href="{{taxFreeLink}}" class="arrow-link-animation mb-1">
						<span class="arrow-text link-text font-semibold text-zinc-100">{{learnMoreText}}</span>
						<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow-right.svg"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="made-for pt-12 md:pt-20 md:pb-20 lg:pt-12 lg:pb-24 px-4 md:px-8 mx-auto bg-zinc-50">
		<div class="max-w-5xl mx-auto">
			<h2 class="block text-[#202020] text-4xl leading-[44px] md:leading-none md:text-[56px] text-center font-semibold mb-4">{{whyChooseTitle}}</h2>
			<p class="text-base md:text-xl mb-8 md:mb-12 text-center font-light">{{whyChooseDescription}}
			</p>
		</div>
		<div class="hidden md:block">
			<div class="max-w-[74rem] mx-auto flex items-center justify-center md:flex-col">
				<div class="grid grid-cols-2 md:grid-cols-12 lg:grid-cols-3 gap-4 md:gap-6 w-full">
					<div class="hidden md:flex md:col-span-2 lg:hidden"></div>
					<div class="col-span-1 md:col-span-3 lg:col-span-1 flex flex-col md:w-full lg:w-auto md:items-start justify-center lg:pl-40">
						<button data-pro="friction" class="pros-showcase-btn text-left z-10 py-4 mb-4 font-semibold px-8 bg-[#f0f3fe] rounded-full  hover:bg-[#e0e6fd] hover:text-[#202020]">{{removeFriction}}</button>
						<button data-pro="revenue" class="pros-showcase-btn text-left z-10 py-4 mb-4 font-semibold px-8 bg-[#f0f3fe] rounded-full hover:bg-[#e0e6fd] hover:text-[#202020]">{{generateRevenue}}</button>
						<button data-pro="simplify" class="pros-selected pros-showcase-btn text-left z-10 py-4 mb-4 font-semibold px-8 bg-[#f0f3fe] rounded-full  hover:bg-[#e0e6fd] hover:text-[#202020]">{{simplify}}</button>
					</div>
					<div class="col-span-1 md:col-span-5 lg:col-span-2">
						<div class="hidden pros-wrapper pros-wrapper-friction ">
							<div class="grid grid-cols-2 gap-4 md:gap-8 items-center">
								<div class="col-span-2 lg:col-span-1">
									<div class="bg-[url('/resources/images/use-case-1.jpg')] md:aspect-[1/1.3] lg:min-h-[512px] bg-cover bg-center rounded-lg w-full h-full"></div>
								</div>
								<div class="hidden lg:block col-span-1 mt-4 lg:max-w-72">
									<h2 class="text-[32px] font-bold leading-10">{{frictionTitle}}</h2>
									<p class="mt-2 font-light text-lg">{{frictionDescription}}</p>
								</div>
							</div>
						</div>
						<div class="hidden pros-wrapper pros-wrapper-revenue">
							<div class=" grid grid-cols-2 gap-4 md:gap-8 items-center">
								<div class="col-span-2 lg:col-span-1">
									<div class="bg-[url('/resources/images/use-case-2.jpg')] md:aspect-[1/1.3] lg:min-h-[512px] bg-cover bg-center rounded-lg w-full h-full"></div>
								</div>
								<div class="hidden lg:block col-span-1 mt-4 lg:max-w-72">
									<h2 class="text-[32px] font-bold leading-10">{{revenueTitle}}</h2>
									<p class="mt-2 font-light text-lg">{{revenueDescription}}</p>
								</div>
							</div>
						</div>
						<div class="pros-wrapper pros-wrapper-simplify">
							<div class="grid grid-cols-2 gap-4 md:gap-8 items-center">
								<div class="col-span-2 lg:col-span-1">
									<div class="bg-[url('/resources/images/use-case-3.jpg')] md:aspect-[1/1.3] lg:min-h-[512px] bg-cover bg-center rounded-lg w-full h-full"></div>
								</div>
								<div class="hidden lg:block col-span-1 mt-4 lg:max-w-72">
									<h2 class="text-[32px] font-bold leading-10">{{simplifyTitle}}</h2>
									<p class="mt-2 font-light text-lg">{{simplifyDescription}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="hidden md:flex md:col-span-2 lg:hidden"></div>

				</div>
				<div class="tablet-pros pt-8 max-w-2xl mx-auto hidden md:block lg:hidden">
					<div class="hidden text-center col-span-1 mt-4 pros-wrapper pros-wrapper-friction">
						<h2 class="text-[32px] font-bold leading-10">{{frictionTitle}}</h2>
						<p class="mt-2 font-light text-lg">{{frictionDescription}}</p>
					</div>
					<div class="hidden text-center col-span-1 mt-4 pros-wrapper pros-wrapper-revenue">
						<h2 class="text-[32px] font-bold leading-10">{{revenueTitle}}</h2>
						<p class="mt-2 font-light text-lg">{{revenueDescription}}</p>
					</div>
					<div class="text-center col-span-1 mt-4 pros-wrapper pros-wrapper-simplify">
						<h2 class="text-[32px] font-bold leading-10">{{simplifyTitle}}</h2>
						<p class="mt-2 font-light text-lg">{{simplifyDescription}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block md:hidden pb-12">
		<div class="swiper swiper-pros">
			<div class="swiper-custom-pagination-wrapper">
				<div class="swiper-custom-pagination-box py-2 px-4 bg-[#f0f3fe] mb-4 rounded-full">
					<div class="swiper-pagination swiper-custom-pagination"></div>
				</div>
			</div>
			<div class="swiper-wrapper">
				<div class="swiper-slide text-center">
					<div class="h-44 rounded-lg w-full bg-cover bg-no-repeat bg-center" style="background-image:url(/resources/images/use-case-2.jpg)"></div>
					<div class="mt-4 text-center">
						<button class="pro-mobile-claim w-full text-center py-4 mb-4 font-semibold px-8 bg-[#f0f3fe] rounded-full focus:outline-none">{{generateRevenue}}</button>
						<div class="toggle-wrapper h-12"></div>
						<h2 class="text-2xl font-bold">{{revenueTitle}}</h2>
						<p class="mt-2 font-light text-base">{{revenueDescription}}</p>
					</div>
				</div>
				<div class="swiper-slide text-center">
					<div class="h-44 rounded-lg w-full bg-cover bg-no-repeat bg-center" style="background-image:url(/resources/images/use-case-1.jpg)"></div>
					<div class="mt-4 text-center">
						<button class="pro-mobile-claim w-full text-center py-4 mb-4 font-semibold px-8 bg-[#f0f3fe] rounded-full focus:outline-none ">{{removeFriction}}</button>
						<div class="toggle-wrapper h-12"></div>
						<h2 class="text-2xl font-bold">{{frictionTitle}}</h2>
						<p class="mt-2 font-light text-base">{{frictionDescription}}</p>
					</div>
				</div>
				<div class="swiper-slide text-center">
					<div class="h-44 rounded-lg w-full bg-cover bg-no-repeat bg-center" style="background-image:url(/resources/images/use-case-3.jpg)"></div>
					<div class="mt-4 text-center">
						<button class="pro-mobile-claim w-full text-center py-4 mb-4 font-semibold px-8 bg-[#f0f3fe] rounded-full focus:outline-none">{{simplify}}</button>
						<div class="toggle-wrapper h-12"></div>
						<h2 class="text-2xl font-bold">{{simplifyTitle}}</h2>
						<p class="mt-2 font-light text-base">{{simplifyDescription}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="bg-gray-100 py-12 md:py-20 rounded-[32px]">
		<div class="max-w-5xl mx-auto text-center sm:px-6 px-4 md:px-8">
			<h2 class="text-4xl md:text-[56px] leading-[44px] md:leading-none font-semibold text-gray-900">{{ourNumbersTitle}}</h2>
			<p class="font-light mt-4 text-base md:text-xl text-[#202020]">
				{{ourNumbersDescription}}
			</p>
			<div class="mt-12 flex flex-col md:flex-row justify-center gap-8 md:gap-20">
				<div class="flex flex-col items-center">
					<span class="text-[56px] md:text-[84px] font-semibold text-[#4f46e5] leading-none">35+</span>
					<span class="mt-1 text-xl font-medium text-gray-900">{{yearsExperienceDescription}}</span>
				</div>
				<div class="flex flex-col items-center">
					<span class="text-[56px] md:text-[84px] font-semibold text-[#4f46e5] leading-none">800K+</span>
					<span class="mt-1 text-xl font-medium text-gray-900">{{customersCountDescription}}</span>
				</div>
				<div class="flex flex-col items-center">
					<span class="text-[56px] md:text-[84px] font-semibold text-[#4f46e5] leading-none">120+</span>
					<span class="mt-1 text-xl font-medium text-gray-900">{{activeMarkets}}</span>
				</div>
			</div>
		</div>
	</section>
	<div class="logos-partners py-6 bg-zinc-50">
		<div class="swiper swiper-brands">
			<div class="swiper-wrapper">
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_1.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_2.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_3.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_4.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_5.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_6.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_7.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_8.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_9.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_10.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_11.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_12.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_13.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_14.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_15.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_16.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_17.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_18.svg')]"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-zinc-50">
		<div class="md:max-w-[1344px] mx-auto pt-12 px-4 md:px-8 mx-auto">
			<h2 class="block text-black text-4xl leading-[44px] md:leading-none md:text-[56px] text-center font-semibold mb-8 md:mb-12">{{ theyChosePlanetTitle }}</h2>
			<div>
				<div class="flex items-center justify-center flex-col rounded-[32px] overflow-hidden" style="box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);">
					<div class="w-full">
						<div class="swiper swiper-testimonials">
							<div class="swiper-wrapper">
								   {% for testimonial in testimonials %}
                                <div class="swiper-slide">
                                    <div class="bg-zinc-50 p-4 md:p-8 h-full w-full text-center">
                                        <img src="{{ testimonial.logo }}" alt="{{ testimonial.name }} Logo" class="max-w-44 mx-auto mb-6">
                                        <h1 class="text-xl mb-4">{{usingPlanetFor}}
                                            <span class="font-bold">{{ testimonial.vertical }}</span>
                                        </h1>
                                        <p class="font-light text-[#202020] text-xl leading-7 mb-6">{{ testimonial.review }}</p>
                                        <p class="text-[#202020]">{{ testimonial.person }}</p>
                                        <p class="text-[#202020] font-semibold">{{ testimonial.role }}</p>
                                    </div>
                                </div>
                            {% endfor %}
							</div>
						</div>
					</div>
					<div class="custom-pagination">
						<div class="flex justify-center mt-6 mb-8">
							<button class="prev-inner-button w-8 h-8 bg-[#f0f3fe] rounded-full flex items-center justify-center mx-2 hover:bg-gray-300">
								<svg class="w-4 h-4 text-gray-600" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
								</svg>
							</button>
							<button class="next-inner-button w-8 h-8 bg-[#f0f3fe] rounded-full flex items-center justify-center mx-2 hover:bg-gray-300">
								<svg class="w-4 h-4 text-gray-600" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="flex justify-center pt-10 pb-12 md:pb-0">
				<a href="{{ caseStudiesLink }}" class="lg:transition-all lg:duration-300 text-center bg-black inline-block hover:bg-[#e00083] hover:text-zinc-100 text-zinc-100 font-semibold py-4 px-6 rounded-full mr-4">
					{{ readAllCustomerStoriesText }}
				</a>
			</div>
		</div>
	</div>
	<div class="bg-zinc-50">
		<div class="md:max-w-[1344px] mx-auto px-4 md:px-8 text-zinc-100 text-center pt-0 pb-12 md:py-20 w-full ">
			<div class="relative z-[1] bg-[url('/resources/images/last-cta.jpg')] rounded-[32px] flex items-center bg-cover bg-center py-8 md:py-0 md:min-h-80 px-4 lg:px-0 content-center front-page-hero">
				<div class="w-full mx-auto">
					<div class="ml-auto w-full text-center">
						<h1 class="text-[38px] md:text-[56px] font-semibold text-zinc-100 text-center pb-6">
							{{ startWithPlanetTitle }}
						</h1>
						<a href="{{ heroContactButtonLink }}" class="lg:transition-all lg:duration-300 text-center bg-zinc-50 inline-block hover:bg-[#e00083] hover:text-zinc-100 text-[#202020] font-semibold py-4 px-6 rounded-full">
							{{ getInTouchText }}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
