<div>
	<div class="coh-container ssa-component coh-component" style="padding: 24px 0">
		<div class="coh-container coh-container-boxed">
			<div class="coh-row coh-row-bleed-xl coh-row-visible-xl" style="min-height: 500px;">
				<div class="coh-row-inner" style="height: 100%;">
					<div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-6" style="display: flex; align-items: center;">
						<div class="coh-container coh-container-left" style="display: flex; flex-direction: column; justify-content: center;">
							<div class="heading-pink-border" style="display: flex; margin-bottom: 8px">
								<div>{{ content.field_pre_heading }}</div>
								<span>•</span>
								<div>{{ content.field_pre_heading_2 }}</div>
							</div>
							<h1 class="coh-heading coh-style-h700" style="margin-bottom: 8px">{{ label }}</h1>
							<div class="coh-wysiwyg coh-style-b200">
								{{ content.field_summary }}
							</div>
							<div>
								<div style="display: inline-block;margin-top: 16px" class="coh-container ssa-component coh-component ssa-component-instance-e483c101-2658-495c-a811-bc3b80b94116 coh-component-instance-e483c101-2658-495c-a811-bc3b80b94116 coh-button-filled coh-button-dynamic coh-button-large coh-button-enable coh-button-light-mode coh-style-button-variants" tabindex="0">
									<a href="#download" class="coh-link coh-button-filled">
										  {{ 'Download now'|t }}
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-6">
						<div class="coh-container coh-style-form coh-container-right">
							<div class="coh-container ssa-component coh-component">
								{% if image_url %}
									<img style="padding: 24px 0" src="{{ image_url }}" alt="E-book cover">
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ content.field_ebook_html_content|raw }}
	<!-- form -->
	{% if form %}
		<div class="coh-container ssa-component coh-component" style="padding: 46px 0">
			<div class="coh-container coh-container-boxed">
				<div class="coh-row coh-row-bleed-xl coh-row-visible-xl">
					<div class="coh-row-inner">
						<div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-6">
							<div class="coh-container coh-container-left">
								<div class="heading-pink-border">{{content.field_form_pre_heading}}</div>
								<h1 class="coh-heading coh-style-h700" style="margin-bottom: 20px">{{content.field_form_heading}}</h1>
								<div class="coh-wysiwyg">
									{{content.field_form_paragraph}}
								</div>
							</div>
						</div>
						<div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-6">
							<div class="coh-container coh-style-form coh-container-right">
								<div class="coh-container ssa-component coh-component">
									<div class="site-studio-webform-element site-studio-webform-node-element">
										<div id="download">
											{{form}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
