{% set heroTitle  = 'Connetti <span class="text-[#9aaef9]">pagamenti</span> e<br><span class="text-[#9aaef9]">tecnologia</span>' %}
{% set heroDescription = 'Evita di destreggiarti tra molteplici fornitori. Planet combina servizi Tax Free, pagamenti e software in un unico partner, per la massima semplicità.' %}
{% set heroContactButtonText = 'Contattaci' %}
{% set madeForTitle = 'Software e pagamenti per' %}
{% set madeForRetailTitle = 'Retail' %}
{% set heroContactButtonLink = '/it/contattaci' %}
{% set retailLink = '/it/retail' %}
{% set hospitalityLink = '/it/hospitality' %}
{% set travelLink = '/it/viaggio' %}
{% set paymentsLink = '/it/pagamenti' %}
{% set hotelPmsLinks = '/it/hotel-pms' %}
{% set pciProxyLink = '/it/pci-proxy' %}
{% set taxFreeLink = '/it/rimborso-iva' %}
{% set caseStudiesLink = '/it/storie-successo' %}
{% set findOutMoreText = 'Scopri di più' %}
{% set learnMoreText = 'Ulteriori informazioni' %}
{% set madeForRetailDescription = 'I retailer, dai brand di lusso a quelli domestici, collaborano con Planet per migliorare l’esperienza di acquisto e di rimborso IVA, semplificando al contempo le operazioni grazie ai nostri strumenti integrati.' %}
{% set madeForHospitalityTitle = 'Ospitalità' %}
{% set madeForHospitalityDescription = 'Hotel, ristoranti, bar e brand di intrattenimento alla ricerca di un unico partner globale per soluzioni software e di pagamento flessibili.' %}
{% set madeForTravelTitle = 'Viaggi' %}
{% set madeForTravelDescription = 'Brand di parcheggi, compagnie aeree, linee ferroviarie e stazioni di ricarica per veicoli elettrici scelgono Planet per accettare e gestire i pagamenti in modo comodo e sicuro, ovunque si trovino.' %}
{% set exploreProductsTitle = 'Scopri i nostri prodotti' %}
{% set exploreProductsDescription = 'Ottieni software e soluzioni di pagamento senza la necessità di fornitori separati.' %}
{% set paymentsTitle = 'Pagamenti' %}
{% set paymentsDescription = 'Gestisci in modo sicuro vari tipi di pagamento online, di persona o in movimento. Accetta più valute tramite un unico partner globale.' %}
{% set pmsTitle = 'Property Management Software' %}
{% set pmsDescription = 'Gestisci le operazioni quotidiane con un software di gestione facile da usare, sicuro e scalabile. Integra facilmente il PMS con il tuo ecosistema.' %}
{% set tokenVaultTitle = 'Archivio di Token' %}
{% set tokenVaultDescription = 'Raccogli e tokenizza i dati sensibili di pagamento nel modo che preferisci e condividi in modo sicuro i token tra più processori.' %}
{% set taxFreeTitle = 'Tax Free' %}
{% set taxFreeDescription = 'Rendi i viaggi internazionali un’esperienza fluida e gratificante e migliora l’efficienza dell’emissione dei moduli Tax Free per il tuo team.' %}
{% set whyChooseTitle = 'Perché scegliere Planet' %}
{% set whyChooseDescription = 'Colleghiamo pagamenti, software e tecnologia in modo flessibile, adattandoci alle esigenze della tua azienda, tutto attraverso una partnership strategica e scalabile, permettendoti di risparmiare tempo e denaro.' %}
{% set removeFriction = 'Elimina gli attriti' %}
{% set generateRevenue = 'Genera entrate' %}
{% set simplify = 'Semplifica' %}
{% set frictionTitle = 'Servi al meglio i tuoi clienti eliminando gli attriti' %}
{% set frictionDescription = 'Il nostro approccio unico e connesso ti aiuta a creare un’esperienza senza problemi, piacevole e coerente per tutti i tuoi clienti, ovunque si trovino.' %}
{% set revenueTitle = 'Genera maggiori entrate con servizi a valore aggiunto' %}
{% set revenueDescription = 'Con l’aumento delle spese turistiche, ottimizza i tuoi ricavi dai pagamenti con le nostre soluzioni in valuta e i servizi di rimborso IVA (Tax Free).' %}
{% set simplifyTitle = 'Ottimizza senza compromettere la flessibilità' %}
{% set simplifyDescription = 'Consolida la tua infrastruttura tecnologica con Planet come unico partner per pagamenti, software e Tax Free, sia a livello locale che globale. Oppure adotta solo le soluzioni di cui hai bisogno: la scelta è tua.' %}
{% set ourNumbersTitle = 'I nostri numeri parlano da soli' %}
{% set ourNumbersDescription = 'Planet è un fornitore globale leader di soluzioni integrate di tecnologia e pagamenti per i clienti nei settori del retail e dell’ospitalità. Creiamo esperienze eccezionali per i milioni di persone che utilizzano le nostre soluzioni di Pagamenti, Software e Tax Free ogni minuto di ogni giorno.' %}
{% set yearsExperienceDescription = 'Anni di esperienza' %}
{% set customersCountDescription = 'Clienti' %}
{% set activeMarkets = 'Mercati attivi' %}
{% set theyChosePlanetTitle = 'Hanno scelto Planet' %}
{% set readAllCustomerStoriesText = 'Leggi tutte le storie dei nostri clienti' %}
{% set startWithPlanetTitle = 'Inizia con Planet oggi stesso' %}
{% set getInTouchText = 'Contattaci' %}
{% set usingPlanetFor = 'Utilizzo di Planet per' %}
{% set solutionsMadeFor = 'Soluzioni tecnologiche e di pagamento per' %}
{% set categories = [
    'retail',
    'hotel',
    'tax free',
    'parcheggi',
    'ricarica veicoli elettrici',
    'casinò',
    'benessere',
    'ristoranti',
    'e-commerce',
    'supermercati',
    'attrazioni'
] %}
{% set testimonials = [
    {
        'logo': '/resources/logos/Logo_Chopard.svg',
        'name': 'Chopard',
        'vertical': 'Pagamenti',
        'review': '"Il software di Planet ha trasformato le nostre operazioni aziendali. L’interfaccia intuitiva, le funzionalità personalizzabili e il supporto clienti reattivo sono stati eccezionali. Con Planet, abbiamo semplificato i processi, aumentato l’efficienza e ricevuto un’assistenza senza pari ogni volta che ne abbiamo avuto bisogno. Altamente consigliato per qualsiasi azienda che sia alla ricerca di soluzioni software affidabili."',
        'person': 'Qiao Zhang',
        'role': 'Responsabile vendite VIP',
    },
    {
        'logo': '/resources/logos/homepage/el_corte_ingles.png',
        'name': 'El Corte Ingles',
        'vertical': 'Esenzione IVA',
        'review': '"Credo che l’evoluzione dell’azienda insieme a Planet come partner nel servizio di rimborso IVA ci abbia portato da una debolezza nel modo in cui facevamo le cose a diventare leader o una delle aziende leader in Europa in questo processo, come ci dicono i nostri clienti."',
        'person': 'Javier Fernández Andrino',
        'role': 'Direttore dello sviluppo aziendale internazionale al dettaglio e lusso',
    },
    {
        'logo': '/resources/logos/homepage/blue-lagoon-iceland-logo.png',
        'name': 'Blue Lagoon',
        'vertical': 'Pagamenti',
        'review': '"Planet è un partner strategico per i pagamenti. Ci sta permettendo di realizzare la grande visione. Con Planet, un ospite può girare per la laguna, andare al ristorante, alla spa, al caffè e acquistare prodotti per la cura della pelle senza mai dover fare il check-out (fisico), poiché addebitiamo la carta con tutto ciò che acquista, utilizzando il token sicuro. Ho lavorato con diversi partner di pagamento e Planet è il numero uno."',
        'person': 'Sigurður Long',
        'role': 'Direttore dell’informazione e Direttore digitale',
    }
] %}


<div class="bg-zinc-50">
	<div class="home-hero requires-transparent-header planet-header-transparent orbs-animation bg-zinc-50 relative">
		<div class="absolute z-0 w-full hero-b-radius h-full overflow-hidden bg-black">
			<div class="orb-2"><img src="/resources/images/orb-pink.png"></div>
			<div class="orb-1"><img src="/resources/images/orb-blue.png"></div>
		</div>
		<div class="relative h-full z-[1] flex items-center bg-cover bg-right min-h px-4 lg:px-0 content-center front-page-hero no-mobile-bg">
			<div class="container max-w-[1280px] w-full mx-auto py-14 px-4 md:py-20">
				<div class="pl-0 md:pl-14 lg:pl-[134px] mx-auto w-full text-left">
					<div class="leading-[52px] overflow-hidden text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-semibold text-white text-left pb-6">
					{{solutionsMadeFor|raw}}<span class="md:ml-4 lg:ml-4 w-full md:w-auto spinny-wrapper" style="display: block; margin-left: 0">
						<span class="spinny-words">
							{% for category in categories %}
								<span>{{ category }}</span>
							{% endfor %}
						</span>
					</span>
					</div>
					
					<a href="{{heroContactButtonLink}}" class="lg:transition-all lg:duration-300 text-left ml-0 bg-white inline-block hover:bg-[#e00083] hover:text-white text-black font-semibold py-4 px-10 rounded-full mr-4">
						{{heroContactButtonText}}
					</a>
					</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="logos-partners py-6 bg-zinc-50">
		<div class="swiper swiper-brands">
			<div class="swiper-wrapper">
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_1.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_2.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_3.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_4.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_5.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_6.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_7.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_8.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_9.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_10.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_11.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_12.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_13.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_14.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_15.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_16.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_17.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_18.svg')]"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="made-for py-12 md:py-20 lg:py-20 px-4 md:px-8 bg-zinc-50">
		<div class="lg:container mx-auto">
			<h2 class="block text-black pb-12 text-4xl leading-[44px] md:leading-none md:text-[56px] text-center font-semibold">{{madeForTitle}}</h2>
			<div data-items="{{ madeForRetailTitle }},{{ madeForHospitalityTitle }},{{ madeForTravelTitle }}"  data-sections=".vertical-1,.vertical-2,.vertical-3" class="plnt-switch verticals-switch mb-12">
                <div class="toggle"></div>
            </div>

                <div>
				<div class="toggle-section vertical-1" style="display: block;">
					<div class="related-product-1">
						<div class="retail-box justify-center items-stretch grid md:grid-cols-2 gap:4 md:gap-6 max-w-5xl mx-auto">
							<div class="order-2 md:order-1 w-full flex items-center how-to-taxfree__card">
								<div class="bg-zinc-50">
									<h3 class="block text-[#202020] pb-4 text-[28px] md:text-[38px] text-left font-semibold">{{madeForRetailTitle}}</h3>
									<p class="text-base md:text-xl md:max-w-sm font-light">{{madeForRetailDescription}}</p>
									<div class="mt-8">
										<a href="{{retailLink}}" class="arrow-link-animation">
											<span class="arrow-text link-text font-semibold text-[#005AB2]">{{findOutMoreText}}</span>
											<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow_right_blue.svg"></span>
										</a>
									</div>
								</div>

							</div>
							<div class="order-1 md:order-2 w-full flex items-cente how-to-taxfree__card">
								<div class="bg-zinc-50">
									<img src="/resources/images/retail-group.png" alt="{{madeForRetailTitle}}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="toggle-section vertical-2" style="display: none;">
					<div class="related-product-2">
						<div class="hospitality-box justify-center items-stretch grid md:grid-cols-2 gap-4 md:gap-6 max-w-5xl mx-auto">
							<div class="order-2 md:order-1 w-full flex items-center how-to-taxfree__card">
								<div class="bg-zinc-50">
									<h3 class="block text-[#202020] pb-4 text-[28px] md:text-[38px] text-left font-semibold">{{madeForHospitalityTitle}}</h3>
									<p class="text-base md:max-w-sm md:text-xl font-light">{{madeForHospitalityDescription}}</p>
									<div class="mt-8">
										<a href="{{hospitalityLink}}" class="arrow-link-animation">
											<span class="arrow-text link-text font-semibold text-[#005AB2]">{{findOutMoreText}}</span>
											<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow_right_blue.svg"></span>
										</a>
									</div>
								</div>

							</div>
							<div class="order-1 md:order-2 w-full flex items-cente how-to-taxfree__card">
								<div class="bg-zinc-50">
									<img src="/resources/images/hospitality.png" alt="{{madeForHospitalityTitle}}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="toggle-section vertical-3" style="display: none;">
					<div class="related-product-3">
						<div class="travel-box justify-center items-stretch grid md:grid-cols-2 gap-4 md:gap-6 max-w-5xl mx-auto">
							<div class="order-2 md:order-1 w-full flex items-center how-to-taxfree__card">
								<div class="bg-zinc-50 -6">
									<h3 class="block text-[#202020] pb-4 text-[28px] md:text-[38px] text-left font-semibold">{{madeForTravelTitle}}</h3>
									<p class="text-base md:max-w-sm md:text-xl font-light">{{madeForTravelDescription}}</p>
									<div class="mt-8">
										<a href="{{travelLink}}" class="arrow-link-animation">
											<span class="arrow-text link-text font-semibold text-[#005AB2]">{{findOutMoreText}}</span>
											<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow_right_blue.svg"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="order-1 md:order-2 w-full flex items-cente how-to-taxfree__card">
								<div class="bg-zinc-50">
									<img src="/resources/images/travel.png" alt="{{madeForHospitalityTitle}}">
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>


		</div>
	</div>
	<div class="products-showcase bg-black py-12 md:py-20 rounded-[32px]">
		<div class="lg:container px-4 md:px-8 mx-auto text-zinc-100 text-center">
			<h2 class="text-4xl leading-[44px] md:text-[56px] font-bold mb-2 md:leading-none">{{exploreProductsTitle}}</h2>
			<p class="text-xl mb-12 font-light">{{exploreProductsDescription}}</p>
			<div
				class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-6 mx-auto lg:max-w-[1096px]">
				<!-- Payments -->
				<div class="transition-all hover:bg-neutral-900 p-6 rounded-lg border-white border border-solid text-left flex flex-col justify-between">
					<div class="flex flex-col mb-4">
						<div class="mb-4"><img src="/resources/icons/payments.svg" alt="{{paymentsTitle}}"></div>
						<h2 class="text-2xl md:text-[32px] font-semibold mb-4 mt-2">{{paymentsTitle}}</h2>
						<p class="mb-6 text-base md:text-xl font-light">{{paymentsDescription}}</p>
					</div>
					<a href="{{paymentsLink}}" class="arrow-link-animation mb-1">
						<span class="arrow-text link-text font-semibold text-zinc-100">{{learnMoreText}}</span>
						<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow-right.svg"></span>
					</a>
				</div>
				<!-- Property Management Software -->
				<div class="transition-all hover:bg-neutral-900 p-6 rounded-lg border-white border border-solid text-left flex flex-col justify-between">
					<div class="flex flex-col mb-4">
						<div class="mb-4"><img src="/resources/icons/hospitality.svg" alt="{{pmsTitle}}"></div>
						<h2 class="text-2xl md:text-[32px] font-semibold mb-4 mt-2">{{pmsTitle}}</h2>
						<p class="mb-6 text-base md:text-xl font-light">{{pmsDescription}}</p>
					</div>
					<a href="{{hotelPmsLinks}}" class="arrow-link-animation mb-1">
						<span class="arrow-text link-text font-semibold text-zinc-100">{{learnMoreText}}</span>
						<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow-right.svg"></span>
					</a>
				</div>
				<!-- Token Vault -->
				<div class="transition-all hover:bg-neutral-900 p-6 rounded-lg border-white border border-solid text-left flex flex-col justify-between">
					<div class="flex flex-col mb-4">
						<div class="mb-4"><img src="/resources/icons/vault.svg" alt="{{tokenVaultTitle}}"></div>
						<h2 class="text-2xl md:text-[32px] font-semibold mb-4 mt-2">{{tokenVaultTitle}}</h2>
						<p class="mb-6 text-base md:text-xl font-light">{{tokenVaultDescription}}</p>
					</div>
					<a href="{{pciProxyLink}}" class="arrow-link-animation mb-1">
						<span class="arrow-text link-text font-semibold text-zinc-100">{{learnMoreText}}</span>
						<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow-right.svg"></span>
					</a>
				</div>
				<!-- Tax Free -->
				<div class="transition-all hover:bg-neutral-900 p-6 rounded-lg border-white border border-solid text-left flex flex-col justify-between">
					<div class="flex flex-col mb-4">
						<div class="mb-4"><img src="/resources/icons/tax-free.svg" alt="{{taxFreeTitle}}"></div>
						<h2 class="text-2xl md:text-[32px] font-semibold mb-4 mt-2">{{taxFreeTitle}}</h2>
						<p class="mb-6 text-base md:text-xl font-light">{{taxFreeDescription}}</p>
					</div>
					<a href="{{taxFreeLink}}" class="arrow-link-animation mb-1">
						<span class="arrow-text link-text font-semibold text-zinc-100">{{learnMoreText}}</span>
						<span class="arrow-img inline-block ml-4"><img alt="arrow-icon" src="/resources/icons/arrow-right.svg"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="made-for pt-12 md:pt-20 md:pb-20 lg:pt-12 lg:pb-24 px-4 md:px-8 mx-auto bg-zinc-50">
		<div class="max-w-5xl mx-auto">
			<h2 class="block text-[#202020] text-4xl leading-[44px] md:leading-none md:text-[56px] text-center font-semibold mb-4">{{whyChooseTitle}}</h2>
			<p class="text-base md:text-xl mb-8 md:mb-12 text-center font-light">{{whyChooseDescription}}
			</p>
		</div>
		<div class="hidden md:block">
			<div class="max-w-[74rem] mx-auto flex items-center justify-center md:flex-col">
				<div class="grid grid-cols-2 md:grid-cols-12 lg:grid-cols-3 gap-4 md:gap-6 w-full">
					<div class="hidden md:flex md:col-span-2 lg:hidden"></div>
					<div class="col-span-1 md:col-span-3 lg:col-span-1 flex flex-col md:w-full lg:w-auto md:items-start justify-center lg:pl-40">
						<button data-pro="friction" class="pros-showcase-btn text-left z-10 py-4 mb-4 font-semibold px-8 bg-[#f0f3fe] rounded-full  hover:bg-[#e0e6fd] hover:text-[#202020]">{{removeFriction}}</button>
						<button data-pro="revenue" class="pros-showcase-btn text-left z-10 py-4 mb-4 font-semibold px-8 bg-[#f0f3fe] rounded-full hover:bg-[#e0e6fd] hover:text-[#202020]">{{generateRevenue}}</button>
						<button data-pro="simplify" class="pros-selected pros-showcase-btn text-left z-10 py-4 mb-4 font-semibold px-8 bg-[#f0f3fe] rounded-full  hover:bg-[#e0e6fd] hover:text-[#202020]">{{simplify}}</button>
					</div>
					<div class="col-span-1 md:col-span-5 lg:col-span-2">
						<div class="hidden pros-wrapper pros-wrapper-friction ">
							<div class="grid grid-cols-2 gap-4 md:gap-8 items-center">
								<div class="col-span-2 lg:col-span-1">
									<div class="bg-[url('/resources/images/use-case-1.jpg')] md:aspect-[1/1.3] lg:min-h-[512px] bg-cover bg-center rounded-lg w-full h-full"></div>
								</div>
								<div class="hidden lg:block col-span-1 mt-4 lg:max-w-72">
									<h2 class="text-[32px] font-bold leading-10">{{frictionTitle}}</h2>
									<p class="mt-2 font-light text-lg">{{frictionDescription}}</p>
								</div>
							</div>
						</div>
						<div class="hidden pros-wrapper pros-wrapper-revenue">
							<div class=" grid grid-cols-2 gap-4 md:gap-8 items-center">
								<div class="col-span-2 lg:col-span-1">
									<div class="bg-[url('/resources/images/use-case-2.jpg')] md:aspect-[1/1.3] lg:min-h-[512px] bg-cover bg-center rounded-lg w-full h-full"></div>
								</div>
								<div class="hidden lg:block col-span-1 mt-4 lg:max-w-72">
									<h2 class="text-[32px] font-bold leading-10">{{revenueTitle}}</h2>
									<p class="mt-2 font-light text-lg">{{revenueDescription}}</p>
								</div>
							</div>
						</div>
						<div class="pros-wrapper pros-wrapper-simplify">
							<div class="grid grid-cols-2 gap-4 md:gap-8 items-center">
								<div class="col-span-2 lg:col-span-1">
									<div class="bg-[url('/resources/images/use-case-3.jpg')] md:aspect-[1/1.3] lg:min-h-[512px] bg-cover bg-center rounded-lg w-full h-full"></div>
								</div>
								<div class="hidden lg:block col-span-1 mt-4 lg:max-w-72">
									<h2 class="text-[32px] font-bold leading-10">{{simplifyTitle}}</h2>
									<p class="mt-2 font-light text-lg">{{simplifyDescription}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="hidden md:flex md:col-span-2 lg:hidden"></div>

				</div>
				<div class="tablet-pros pt-8 max-w-2xl mx-auto hidden md:block lg:hidden">
					<div class="hidden text-center col-span-1 mt-4 pros-wrapper pros-wrapper-friction">
						<h2 class="text-[32px] font-bold leading-10">{{frictionTitle}}</h2>
						<p class="mt-2 font-light text-lg">{{frictionDescription}}</p>
					</div>
					<div class="hidden text-center col-span-1 mt-4 pros-wrapper pros-wrapper-revenue">
						<h2 class="text-[32px] font-bold leading-10">{{revenueTitle}}</h2>
						<p class="mt-2 font-light text-lg">{{revenueDescription}}</p>
					</div>
					<div class="text-center col-span-1 mt-4 pros-wrapper pros-wrapper-simplify">
						<h2 class="text-[32px] font-bold leading-10">{{simplifyTitle}}</h2>
						<p class="mt-2 font-light text-lg">{{simplifyDescription}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block md:hidden pb-12">
		<div class="swiper swiper-pros">
			<div class="swiper-custom-pagination-wrapper">
				<div class="swiper-custom-pagination-box py-2 px-4 bg-[#f0f3fe] mb-4 rounded-full">
					<div class="swiper-pagination swiper-custom-pagination"></div>
				</div>
			</div>
			<div class="swiper-wrapper">
				<div class="swiper-slide text-center">
					<div class="h-44 rounded-lg w-full bg-cover bg-no-repeat bg-center" style="background-image:url(/resources/images/use-case-2.jpg)"></div>
					<div class="mt-4 text-center">
						<button class="pro-mobile-claim w-full text-center py-4 mb-4 font-semibold px-8 bg-[#f0f3fe] rounded-full focus:outline-none">{{generateRevenue}}</button>
						<div class="toggle-wrapper h-12"></div>
						<h2 class="text-2xl font-bold">{{revenueTitle}}</h2>
						<p class="mt-2 font-light text-base">{{revenueDescription}}</p>
					</div>
				</div>
				<div class="swiper-slide text-center">
					<div class="h-44 rounded-lg w-full bg-cover bg-no-repeat bg-center" style="background-image:url(/resources/images/use-case-1.jpg)"></div>
					<div class="mt-4 text-center">
						<button class="pro-mobile-claim w-full text-center py-4 mb-4 font-semibold px-8 bg-[#f0f3fe] rounded-full focus:outline-none ">{{removeFriction}}</button>
						<div class="toggle-wrapper h-12"></div>
						<h2 class="text-2xl font-bold">{{frictionTitle}}</h2>
						<p class="mt-2 font-light text-base">{{frictionDescription}}</p>
					</div>
				</div>
				<div class="swiper-slide text-center">
					<div class="h-44 rounded-lg w-full bg-cover bg-no-repeat bg-center" style="background-image:url(/resources/images/use-case-3.jpg)"></div>
					<div class="mt-4 text-center">
						<button class="pro-mobile-claim w-full text-center py-4 mb-4 font-semibold px-8 bg-[#f0f3fe] rounded-full focus:outline-none">{{simplify}}</button>
						<div class="toggle-wrapper h-12"></div>
						<h2 class="text-2xl font-bold">{{simplifyTitle}}</h2>
						<p class="mt-2 font-light text-base">{{simplifyDescription}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="bg-gray-100 py-12 md:py-20 rounded-[32px]">
		<div class="max-w-5xl mx-auto text-center sm:px-6 px-4 md:px-8">
			<h2 class="text-4xl md:text-[56px] leading-[44px] md:leading-none font-semibold text-gray-900">{{ourNumbersTitle}}</h2>
			<p class="font-light mt-4 text-base md:text-xl text-[#202020]">
				{{ourNumbersDescription}}
			</p>
			<div class="mt-12 flex flex-col md:flex-row justify-center gap-8 md:gap-20">
				<div class="flex flex-col items-center">
					<span class="text-[56px] md:text-[84px] font-semibold text-[#4f46e5] leading-none">35+</span>
					<span class="mt-1 text-xl font-medium text-gray-900">{{yearsExperienceDescription}}</span>
				</div>
				<div class="flex flex-col items-center">
					<span class="text-[56px] md:text-[84px] font-semibold text-[#4f46e5] leading-none">800K+</span>
					<span class="mt-1 text-xl font-medium text-gray-900">{{customersCountDescription}}</span>
				</div>
				<div class="flex flex-col items-center">
					<span class="text-[56px] md:text-[84px] font-semibold text-[#4f46e5] leading-none">120+</span>
					<span class="mt-1 text-xl font-medium text-gray-900">{{activeMarkets}}</span>
				</div>
			</div>
		</div>
	</section>
	<div class="logos-partners py-6 bg-zinc-50">
		<div class="swiper swiper-brands">
			<div class="swiper-wrapper">
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_1.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_2.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_3.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_4.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_5.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_6.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_7.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_8.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_9.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_10.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_11.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_12.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_13.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_14.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_15.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_16.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_17.svg')]"></div>
				</div>
				<div class="swiper-slide text-center">
					<div class="min-h-9 inline-block h-full w-full bg-no-repeat bg-center bg-[url('/resources/logos/homepage/logo_18.svg')]"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-zinc-50">
		<div class="md:max-w-[1344px] mx-auto pt-12 px-4 md:px-8 mx-auto">
			<h2 class="block text-black text-4xl leading-[44px] md:leading-none md:text-[56px] text-center font-semibold mb-8 md:mb-12">{{ theyChosePlanetTitle }}</h2>
			<div>
				<div class="flex items-center justify-center flex-col rounded-[32px] overflow-hidden" style="box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);">
					<div class="w-full">
						<div class="swiper swiper-testimonials">
							<div class="swiper-wrapper">
								   {% for testimonial in testimonials %}
                                <div class="swiper-slide">
                                    <div class="bg-zinc-50 p-4 md:p-8 h-full w-full text-center">
                                        <img src="{{ testimonial.logo }}" alt="{{ testimonial.name }} Logo" class="max-w-44 mx-auto mb-6">
                                        <h1 class="text-xl mb-4">{{usingPlanetFor}}
                                            <span class="font-bold">{{ testimonial.vertical }}</span>
                                        </h1>
                                        <p class="font-light text-[#202020] text-xl leading-7 mb-6">{{ testimonial.review }}</p>
                                        <p class="text-[#202020]">{{ testimonial.person }}</p>
                                        <p class="text-[#202020] font-semibold">{{ testimonial.role }}</p>
                                    </div>
                                </div>
                            {% endfor %}
							</div>
						</div>
					</div>
					<div class="custom-pagination">
						<div class="flex justify-center mt-6 mb-8">
							<button class="prev-inner-button w-8 h-8 bg-[#f0f3fe] rounded-full flex items-center justify-center mx-2 hover:bg-gray-300">
								<svg class="w-4 h-4 text-gray-600" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
								</svg>
							</button>
							<button class="next-inner-button w-8 h-8 bg-[#f0f3fe] rounded-full flex items-center justify-center mx-2 hover:bg-gray-300">
								<svg class="w-4 h-4 text-gray-600" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="flex justify-center pt-10 pb-12 md:pb-0">
				<a href="{{ caseStudiesLink }}" class="lg:transition-all lg:duration-300 text-center bg-black inline-block hover:bg-[#e00083] hover:text-zinc-100 text-zinc-100 font-semibold py-4 px-6 rounded-full mr-4">
					{{ readAllCustomerStoriesText }}
				</a>
			</div>
		</div>
	</div>
	<div class="bg-zinc-50">
		<div class="md:max-w-[1344px] mx-auto px-4 md:px-8 text-zinc-100 text-center pt-0 pb-12 md:py-20 w-full ">
			<div class="relative z-[1] bg-[url('/resources/images/last-cta.jpg')] rounded-[32px] flex items-center bg-cover bg-center py-8 md:py-0 md:min-h-80 px-4 lg:px-0 content-center front-page-hero">
				<div class="w-full mx-auto">
					<div class="ml-auto w-full text-center">
						<h1 class="text-[38px] md:text-[56px] font-semibold text-zinc-100 text-center pb-6">
							{{ startWithPlanetTitle }}
						</h1>
						<a href="{{ heroContactButtonLink }}" class="lg:transition-all lg:duration-300 text-center bg-zinc-50 inline-block hover:bg-[#e00083] hover:text-zinc-100 text-[#202020] font-semibold py-4 px-6 rounded-full">
							{{ getInTouchText }}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
