{#
  Custom Twig template for the "Author" content type.
  Template variables available:
    - content: An array of content elements.
    - node: The node entity representing the "Author" content.
    - label: The node label.
    - url: The node URL.
    - attributes: HTML attributes for the node wrapper.
#}
<div>
	<div class="plnt-author-page">
		<div class="coh-container coh-container-boxed">
			<div class="coh-row">
				<div class="coh-row-inner">
					<div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-12">
						<div class="breadcrumbs text-white">
							<a href="/blog">Back to articles</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="coh-container coh-container-boxed">
			<div class="coh-row">
				<div class="coh-row-inner author-info">
					<div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-2">
						<div class="author-photo">
							<img src="{{author_data.author.profile_picture}}" alt="author-photo">
						</div>
					</div>
					<div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-10">
						<h1 class="coh-heading author-name">
							<span>{{ author_data.author.full_name }}</span>
						</h1>
						<div class="author-role">
							{% if content.field_role['#items'][0].value is not empty %}
								{{ content.field_role['#items'][0].value }}
							{% else %}
								Copywriter
							{% endif %}
						</div>

						<div class="author-social">
							<div class="author-social-icons-wrapper">
								{% if content.field_linkedin_url['#items'][0].value is not empty %}
									<a target="_blank" rel="nofollow noopener noreferrer" href="{{ content.field_linkedin_url['#items'][0].value }}">Linkedin
										<img src="/resources/icons/arrow-right.svg">
									</a>
								{% endif %}

							</div>
						</div>


						<!-- Add more social media links as needed -->
					</div>
				</div>
			</div>
		</div>
		<div class="coh-container coh-container-boxed">
			<div class="coh-row">
				<div class="coh-row-inner">
					<div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-12">
						<div class="author-bio">
							{{ content.body }}
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
	<div class="coh-container coh-container-boxed last-articles-wrapper">
		<div class="coh-row">
			<div class="coh-row-inner">
				<div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-12">
					<div class="last-articles">
						<h2>{{ author_data.author.first_name }}'s recent blog posts</h2>
						<div class="last-articles-cards">
							{% if author_data.articles is empty %}
								<p class="no-articles">No linked articles found.</p>
							{% else %}
								{% if author_data.tags is not empty %}
									<div class="tags-pills pink-pills main-pills" style="display: none">
										<span class="selected main-pill all-pill visible" data-tagid="all">All</span>
										<div class="external-main-tags"></div>
									</div>
								{% endif %}

								<div class="article-cards-wrapper">
									<div class="coh-row">
										<div class="coh-row-inner article-js-wrapper"></div>
									</div>
								</div>
								<div class="load-more-wrapper">
									<div id="load-more-button" class="coh-link coh-style-primary-dark-atom-" style="display: none" data-offset="0" data-limit="6" data-author-id={{node.id}}>Load more <img src="/resources/icons/down-white-arrow.svg"></div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
